{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}    
    {# this is required for canon.js, even if it is not necessary for this page #}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/canon.js') }}"></script>
{% endblock %}



{% block body %}
    {# person is passed as an object #}
    <div class="container-fluid mt-3 mb-2" style="font-size:small">
	<div class="row mx-2 col-12">
	    {{ include('canon_edit/_title.html.twig') }}
	</div>
	{# { form_start(form, {'attr': {'id':'new_form', 'action':path('canon_new')}}) } #}
	{{ form_start(form, {'attr': {'id':'new_form'} } ) }}
	    {{ include('canon_edit/_form_elements.html.twig') }}
	{{ form_end(form) }}
	{# offices #}
	<div class="row col-12 mx-2 mt-3">
	    {{ include('canon_edit/_table_offices.html.twig') }}
	</div>
	<div class="row mx-2 mt-1">
	    <div class="col-12">
		<a href="{{ path('canon_new_office', {'id':canon.id}) }}" class="btn btn-secondary btn-sm" role="button">Neues Amt</a>
	    </div>
	</div>
    </div>
{% endblock %}
