{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/diocese.js') }}"></script>
{% endblock %}

{% block body %}
    {% set urlgspersons = 'http://personendatenbank.germania-sacra.de/' %}
    {% set urlgsmonasteries = 'http://klosterdatenbank.germania-sacra.de/' %}
    {% set displayname %}{{ diocese.diocesestatus ~ ' ' ~ diocese.diocese }}{% endset %}

    {% set linksymbol %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 20 20" transform="translate(6, -1)">
    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/></svg>{% endset %}
    
    {% set clipboardsymbol %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
	<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
	<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
    </svg>{% endset %}

    <div class="container-fluid mt-3 mb-2">
	{% if not diocese%}
	    <p class="em">Bistum nicht gefunden.</p>
	{% else %}
	    {% if form is defined %}
		{{ form_start(form, {'attr': {'id':'q_form', 'action': path('query_dioceses'), 'hidden': 'hidden'}}) }}
		{{ form_end(form) }}
	    {% endif %}
	    <div class="row mx-2 col-12">
		{% include('query_diocese/_title.html.twig') %}
	    </div>
	    <div class="row mx-2 mt-3 mb-0"><div class="col-9">
		<h2>{{ displayname }}</h2></div>
		<div class="col-3 text-right text-nowrap">
		    <button type="button" class="btn btn-sm to-clipboard" title="{{ protocol }}:{{ url('id', {id: diocese.wiagidlong}, schemeRelative = true) }}" >{{ diocese.wiagidlong }} {{ linksymbol }}</button>
		</div>

	    </div>
	    {% if diocese.altlabel|length > 0 %}
		<div class="row mx-2 col-12">
		    {% for label in diocese.altlabel|sort((a, b) => a.sort <=> b.sort) %}
			{{ label.altlabeldiocese|split(' ')|join('&nbsp;')|raw }}{% if label.lang %} ({{ label.lang }}){% endif %}{% if not loop.last %}; {% endif %}
		    {% endfor %}
		</div>
	    {% endif %}
	    {% if diocese.notediocese %}
		<div class="row mx-2 col-12 mt-1">
		    <span class="comment">{{ diocese.notediocese }}</span>
		</div>
	    {% endif %}

	    <dl class="row mx-2 mt-3">
		{% if diocese.bishopricseatobj %}
		    <dt class="col-sm-3">Bischofssitz</dt>
		    <dd class="col-sm-9"><a href={{ url_geonames ~ diocese.bishopricseatobj.geonamesid }} target="_blank" rel="noopener">{{ diocese.bishopricseatobj.placename }}</a></dd>
		    {% if diocese.notebishopricseat %}<dt class ="col-sm-3"></dt>
			<dd class="col-sm-9"><span class="comment">{{- diocese.notebishopricseat -}}</span></dd>{% endif %}
		{% endif %}
		{% if diocese.dateoffounding %}
		    <dt class="col-sm-3">Gründung</dt>
		    <dd class="col-sm-9">{{ diocese.dateoffounding }}</dd>
		{% endif %}
		{% if diocese.dateofdissolution %}
		    <dt class="col-sm-3">Aufhebung</dt>
		    <dd class="col-sm-9">{{ diocese.dateofdissolution }}</dd>
		{% endif %}
		{% if diocese.ecclesiasticalprovince %}
		    <dt class="col-sm-3">Kirchenprovinz</dt>
		    <dd class="col-sm-9">{{ diocese.ecclesiasticalprovince }}</dd>
		{% endif %}


		{% if diocese.externalurls %}
		    <dt class="col-sm-3">Externe Identifier</dt>
		    <dd class="col-sm-9">
			<ul class ="list-unstyled">
			    {% for url in diocese.externalurls|sort((a, b) => a.authority.displayorder <=> b.authority.displayorder) %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">{{ url.authority.urlnameformatter }}</li>
					<li class="list-inline-item"><a href={{ url.authority.urlformatter ~ url.urlvalue }} target="_blank" rel="noopener">{{ url.prettyurlvalue }}</a></li>
				    </ul>
				</li>
			    {% endfor %}
			    {% if diocese.commentauthorityfile %}
				<li><span class="comment">{{ diocese.commentauthorityfile }}</span></li>
			    {% endif %}
			</ul>
		    </dd>
		{% endif %}

		{% if diocese.reference %}
		    <dt class="col-sm-3">Referenzwerk</dt>
		    <dd class="col-sm-9"><a href="{{ path('reference', {'id': diocese.referenceid}) }}">{{ diocese.reference.shorttitle }}</a>, S. {{ diocese.gatzpages }}</dd>
		{% endif %}
	    </dl>


	    <div class="row mx-2 col-12"><span class="align-baseline"> Empfohlene Zitierweise: <button type="button" class="btn btn-sm" id="copy-citation">{{ clipboardsymbol }}</button></span></div>
	    <div class="row mx-2 col-12">
		<span id="citation">"{{ displayname }}" in: WIAG, {{ protocol }}:{{ url('id', {id: diocese.wiagidlong}, schemeRelative = true) }} (Abgerufen: {{ "now"|date('d.m.Y') }}).</span></div>
	    <div class="row mx-2 mt-4 col-12">
		{% if form is defined %}
		    <button type="submit" form="q_form" class="btn btn-secondary btn-sm" name="singleoffset" value="{{ offset - 1 }}" {% if offset == 0 %}disabled="disabled"{% endif %}>vorheriger Treffer</button>
		    <button type="submit" form="q_form" class="btn btn-secondary btn-sm ml-1" name="singleoffset" value="{{ offset + 1 }}" {% if not hassuccessor %}disabled="disabled"{% endif %}>nächster Treffer</button></a>
		    <button type="submit" form="q_form" class="btn btn-secondary btn-sm ml-1 mr-3" name="offset" value="{{ offset }}">Ergebnisliste</button></a>
		{% endif %}
		<a href="{{ path('wiag_id_data', {id: diocese.wiagidlong, format: 'json'}) }}"><button class="btn btn-secondary btn-light btn-sm">JSON</button></a>
		<a href="{{ path('wiag_id_data', {id: diocese.wiagidlong, format: 'csv'}) }}"><button class="btn btn-secondary btn-light btn-sm ml-1">CSV</button></a>
		<a href="{{ path('wiag_id_data', {id: diocese.wiagidlong}) }}"><button class="btn btn-secondary btn-light btn-sm ml-1">RDF-XML</button></a>
		<a href="{{ path('wiag_id_data', {id: diocese.wiagidlong, format: 'json-ld'}) }}"><button class="btn btn-secondary btn-light btn-sm ml-1">JSON-LD</button></a>

	    </div>
	{% endif %}
    </div>
{% endblock %}
