{% extends 'base.html.twig' %}

{% set urlgspersons = 'http://personendatenbank.germania-sacra.de/' %}
{% set urlgsmonasteries = 'http://klosterdatenbank.germania-sacra.de/' %}

{% set displayname %}{{ diocese.diocesestatus ~ ' ' ~ diocese.diocese }}{% endset %}


{% block body %}
    <div class="container-fluid mt-3">
	{% if not diocese%}
	    <p class="em">Bistum nicht gefunden.</p>
	{% else %}
	    <div class="row-col-12 topic-title">Die Bist端mer des Alten Reiches (nach Erwin Gatz)</div>
	    <div class="row mt-3 mb-0"><div class="col-9">
		<h2>{{ displayname }}</h2>
	    </div>
	    <div class="col-3 wiag-id text-right">{{ diocese.wiagidlong }}</div></div>
	    {% if diocese.dateoffounding or diocese.dateofdissolution %}
		<div class="row col-12 mt-1">
		    {% if diocese.dateoffounding and not diocese.dateofdissolution or diocese.dateofdissolution == "keine" %}
			<span class="wiag-large">Gr端ndung {{ diocese.dateoffounding }}<span class ="pl-3">besteht bis heute</span></span>
		    {% elseif not diocese.dateoffounding and diocese.dateofdissolution %}
			<span class="wiag-large">Aufhebung {{ person.datedeath }}</span>
		    {% else %}
			<span class="wiag-large">Gr端ndung {{ diocese.dateoffounding }} <span class="pl-3">Aufhebung {{ diocese.dateofdissolution }}</span></span>
		    {% endif %}
		</div>
	    {% endif %}
	    {% if diocese.notediocese %}
		<div class="row col-12 mt-1">
		    <span class="comment">{{ diocese.notediocese }}</span>
		</div>
	    {% endif %}

	    <dl class="row mt-3">
		{% if diocese.ecclesiasticalprovince %}
		    <dt class="col-sm-3">Kirchenprovinz</dt>
		    <dd class="col-sm-9">{{ diocese.ecclesiasticalprovince }}</dd>
		{% endif %}

		{% if diocese.bishopricseatobj %}
		    <dt class="col-sm-3">Bischofssitz</dt>
		    <dd class="col-sm-9">{{ diocese.bishopricseatobj.placename }}</dd>
		    {% if diocese.notebishopricseat %}<dt class ="col-sm-3"></dt>
			<dd class="col-sm-9"><span class="comment">{{- diocese.notebishopricseat -}}</span></dd>{% endif %}
		{% endif %}

		{% if diocese.externalurls %}
		    <dt class="col-sm-3">Externe Identifier</dt>
		    <dd class="col-sm-9">
			<ul class ="list-unstyled">
			    {% for url in diocese.externalurls|sort((a, b) => a.authority.displayorder <=> b.authority.displayorder) %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">{{ url.authority.urlnameformatter }}</li>
					<li class="list-inline-item"><a href="{{ url.authority.urlformatter ~ url.urlvalue }}" >{{ url.prettyurlvalue }}</a></li>
			    {% endfor %}
			    {% if diocese.commentauthorityfile %}
				<li><span class="comment">{{ diocese.commentauthorityfile }}</span></li>
			    {% endif %}
			</ul>
		    </dd>
		{% endif %}


		{% if diocese.gatzpages %}
		    <dt class="col-sm-3">Referenzwerk</dt>
		    <dd class="col-sm-9"><a href="{{ path('reference', {'id': 2}) }}">Gatz, Bist端mer</a>, S. {{ diocese.gatzpages }}</dd>
		{% endif %}
	    </dl>


	    <div class="row col-12">Empfohlene Zitierweise:<br/>
		"{{ displayname }}" {# (WIAGID: {{ wiagidlong }}), #}
		in: WIAG, {{ url('diocese', {idorname: diocese.wiagidlong}) }}
		(Abgerufen: {{ "now"|date('d.m.Y') }}).</div>

	    <div class="row col-12 mt-4">
		{% if flaglist %}<input type="button" class="btn btn-secondary" onclick="window.history.back()" value="Ergebnisliste"/>{% endif %}
		{#
		<a href="{{ path('launch_query') }}"<button class="btn btn-secondary ml-1">Neue Suche</button></a>
		<a href="{{ path('api_bishop', {wiagidlong: diocese.wiagidlong, format: 'json'}) }}"<button class="btn btn-secondary btn-light ml-3">JSON</button></a>
		#}
	    </div>
	{% endif %}
    </div>
{% endblock %}
