{% extends 'base.html.twig' %}
{% set menuItem='collections' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/diocese.js') }}"></script>
{% endblock %}

{% block body %}
    {% set urlgspersons = 'http://personendatenbank.germania-sacra.de/' %}
    {% set urlgsmonasteries = 'http://klosterdatenbank.germania-sacra.de/' %}
    {% set displayname %}{{ diocese.diocesestatus ~ ' ' ~ diocese.diocese }}{% endset %}

    <div class="container-fluid mt-3 mb-2">
	{% if not diocese%}
	    <p class="em">Bistum nicht gefunden.</p>
	{% else %}
	    {% if form is defined %}
		{{ form_start(form, {'attr': {'id':'q_form', 'action': path('query_dioceses'), 'hidden': 'hidden'}}) }}
		{{ form_end(form) }}
	    {% endif %}
	    <div class="row mx-2 col-12">
		{% include('query_diocese/_title.html.twig') %}
	    </div>
	    <div class="row mx-2 mt-3 mb-0"><div class="col-9">
		<h2>{{ displayname }}</h2></div>
		<div class="col-3 text-right text-nowrap">
		    <button type="button" class="btn btn-sm to-clipboard" title="{{ protocol }}:{{ url('id', {id: diocese.wiagidlong}, schemeRelative = true) }}" >{{ diocese.wiagidlong }} <img src="{{ asset('images/link45deg.svg') }}" width="18"></button>
		</div>

	    </div>
	    {% if diocese.altlabel|length > 0 %}
		<div class="row mx-2">
		    <div class="col-12">
		    {% for label in diocese.altlabel|sort((a, b) => a.sort <=> b.sort) %}
			{{ label.altlabeldiocese|split(' ')|join('&nbsp;')|raw }}{% if label.lang %} ({{ label.lang }}){% endif %}{% if not loop.last %}; {% endif %}
		    {% endfor %}
		    </div>
		</div>
	    {% endif %}
	    {% if diocese.notediocese %}
		<div class="row mx-2 col-12 mt-1">
		    <span class="comment">{{ diocese.notediocese }}</span>
		</div>
	    {% endif %}

	    <dl class="row mx-2 mt-3">
		{% if diocese.bishopricseatobj %}
		    <dt class="col-sm-3">Bischofssitz</dt>
		    <dd class="col-sm-9"><a href={{ url_geonames ~ diocese.bishopricseatobj.geonamesid }} target="_blank" rel="noopener">{{ diocese.bishopricseatobj.placename }}</a></dd>
		    {% if diocese.notebishopricseat %}<dt class ="col-sm-3"></dt>
			<dd class="col-sm-9"><span class="comment">{{- diocese.notebishopricseat -}}</span></dd>{% endif %}
		{% endif %}
		{% if diocese.dateoffounding %}
		    <dt class="col-sm-3">Gründung</dt>
		    <dd class="col-sm-9">{{ diocese.dateoffounding }}</dd>
		{% endif %}
		{% if diocese.dateofdissolution %}
		    <dt class="col-sm-3">Aufhebung</dt>
		    <dd class="col-sm-9">{{ diocese.dateofdissolution }}</dd>
		{% endif %}
		{% if diocese.ecclesiasticalprovince %}
		    <dt class="col-sm-3">Kirchenprovinz</dt>
		    <dd class="col-sm-9">{{ diocese.ecclesiasticalprovince }}</dd>
		{% endif %}


		{% if diocese.externalurls %}
		    <dt class="col-sm-3">Externe Identifier</dt>
		    <dd class="col-sm-9">
			<ul class ="list-unstyled">
			    {% for url in diocese.externalurls|sort((a, b) => a.authority.displayorder <=> b.authority.displayorder) %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">{{ url.authority.urlnameformatter }}</li>
					<li class="list-inline-item"><a href={{ url.authority.urlformatter ~ url.urlvalue }} target="_blank" rel="noopener">{{ url.prettyurlvalue }}</a></li>
				    </ul>
				</li>
			    {% endfor %}
			    {% if diocese.commentauthorityfile %}
				<li><span class="comment">{{ diocese.commentauthorityfile }}</span></li>
			    {% endif %}
			</ul>
		    </dd>
		{% endif %}

		{% if diocese.reference %}
		    <dt class="col-sm-3">Referenzwerk</dt>
		    <dd class="col-sm-9"><a href="{{ path('reference', {'id': diocese.referenceid}) }}">{{ diocese.reference.shorttitle }}</a>, S. {{ diocese.gatzpages }}</dd>
		{% endif %}
	    </dl>


	    <div class="row mx-2 col-12"><span class="align-baseline"> Empfohlene Zitierweise: <button type="button" class="btn btn-sm" id="copy-citation"><img src="{{ asset('images/clipboard.svg') }}"></button></span></div>
	    <div class="row mx-2 col-12">
		<span id="citation">"{{ displayname }}" in: WIAG, {{ protocol }}:{{ url('id', {id: diocese.wiagidlong}, schemeRelative = true) }} (Abgerufen: {{ "now"|date('d.m.Y') }}).</span></div>
	    <div class="row mx-2 mt-4 col-12">
		<div class="d-flex">
		    {% if form is defined %}
			<button type="submit" form="q_form" class="btn btn-secondary btn-sm" name="singleoffset" value="{{ offset - 1 }}" {% if offset == 0 %}disabled="disabled"{% endif %}>vorheriger Treffer</button>
			<button type="submit" form="q_form" class="btn btn-secondary btn-sm ms-1" name="singleoffset" value="{{ offset + 1 }}" {% if not hassuccessor %}disabled="disabled"{% endif %}>nächster Treffer</button>
			<button type="submit" form="q_form" class="btn btn-secondary btn-sm ms-1 me-3" name="offset" value="{{ offset }}">Ergebnisliste</button>
		    {% endif %}
		    <a href="{{ path('wiag_id_data', {id: diocese.wiagidlong, format: 'json'}) }}"><button class="btn btn-secondary btn-light btn-sm">JSON</button></a>
		    <a href="{{ path('wiag_id_data', {id: diocese.wiagidlong, format: 'csv'}) }}"><button class="btn btn-secondary btn-light btn-sm ms-1">CSV</button></a>
		    <a href="{{ path('wiag_id_data', {id: diocese.wiagidlong}) }}"><button class="btn btn-secondary btn-light btn-sm ms-1">RDF-XML</button></a>
		    <a href="{{ path('wiag_id_data', {id: diocese.wiagidlong, format: 'json-ld'}) }}"><button class="btn btn-secondary btn-light btn-sm ms-1">JSON-LD</button></a>
		</div>
	    </div>
	{% endif %}
    </div>
{% endblock %}
