{% extends 'base.html.twig' %}

{% set urlgspersons = 'http://personendatenbank.germania-sacra.de/' %}
{% set urlgsmonasteries = 'http://klosterdatenbank.germania-sacra.de/' %}
{% set displayname %}{{ diocese.diocesestatus ~ ' ' ~ diocese.diocese }}{% endset %}

{% block body %}
    <div class="container-fluid mt-3 mb-2">
	{% if not diocese%}
	    <p class="em">Bistum nicht gefunden.</p>
	{% else %}
	    {% if form is defined %}
		{{ form_start(form, {'attr': {'id':'q_form', 'action': path('query_dioceses'), 'hidden': 'hidden'}}) }}
		{{ form_end(form) }}
	    {% endif %}
	    <div class="row mx-2 col-12">
		{% include('query_diocese/_title.html.twig') %}
	    </div>
	    <div class="row mx-2 mt-3 mb-0"><div class="col-9">
		<h2>{{ displayname }}</h2></div>
		<div class="col-3 wiag-id text-right">{{ diocese.wiagidlong }}</div>
	    </div>
	    {% if diocese.altlabel|length > 0 %}
		<div class="row mx-2 col-12">
		    {% for label in diocese.altlabel|sort((a, b) => a.sort <=> b.sort) %}
			{{ label.altlabeldiocese|split(' ')|join('&nbsp;')|raw }}{% if label.lang %} ({{ label.lang }}){% endif %}{% if not loop.last %}; {% endif %}
		    {% endfor %}
		</div>
	    {% endif %}
	    {% if diocese.notediocese %}
		<div class="row mx-2 col-12 mt-1">
		    <span class="comment">{{ diocese.notediocese }}</span>
		</div>
	    {% endif %}

	    <dl class="row mx-2 mt-3">
		{% if diocese.bishopricseatobj %}
		    <dt class="col-sm-3">Bischofssitz</dt>
		    <dd class="col-sm-9"><a href={{ url_geonames ~ diocese.bishopricseatobj.geonamesid }} target="_blank" rel="noopener">{{ diocese.bishopricseatobj.placename }}</a></dd>
		    {% if diocese.notebishopricseat %}<dt class ="col-sm-3"></dt>
			<dd class="col-sm-9"><span class="comment">{{- diocese.notebishopricseat -}}</span></dd>{% endif %}
		{% endif %}
		{% if diocese.dateoffounding %}
		    <dt class="col-sm-3">Gründung</dt>
		    <dd class="col-sm-9">{{ diocese.dateoffounding }}</dd>
		{% endif %}
		{% if diocese.dateofdissolution %}
		    <dt class="col-sm-3">Aufhebung</dt>
		    <dd class="col-sm-9">{{ diocese.dateofdissolution }}</dd>
		{% endif %}
		{% if diocese.ecclesiasticalprovince %}
		    <dt class="col-sm-3">Kirchenprovinz</dt>
		    <dd class="col-sm-9">{{ diocese.ecclesiasticalprovince }}</dd>
		{% endif %}


		{% if diocese.externalurls %}
		    <dt class="col-sm-3">Externe Identifier</dt>
		    <dd class="col-sm-9">
			<ul class ="list-unstyled">
			    {% for url in diocese.externalurls|sort((a, b) => a.authority.displayorder <=> b.authority.displayorder) %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">{{ url.authority.urlnameformatter }}</li>
					<li class="list-inline-item"><a href={{ url.authority.urlformatter ~ url.urlvalue }} target="_blank" rel="noopener">{{ url.prettyurlvalue }}</a></li>
				    </ul>
				</li>
			    {% endfor %}
			    {% if diocese.commentauthorityfile %}
				<li><span class="comment">{{ diocese.commentauthorityfile }}</span></li>
			    {% endif %}
			</ul>
		    </dd>
		{% endif %}


		{% if diocese.gatzpages %}
		    <dt class="col-sm-3">Referenzwerk</dt>
		    <dd class="col-sm-9"><a href={{ path('reference', {'id': 2}) }}>Gatz, Bistümer</a>, S. {{ diocese.gatzpages }}</dd>
		{% endif %}
	    </dl>


	    <div class="row mx-2 col-12">Empfohlene Zitierweise:<br/>
		"{{ displayname }}"
		in: WIAG, {{ url('id', {id: diocese.wiagidlong}) }}
		(Abgerufen: {{ "now"|date('d.m.Y') }}).</div>

	    <div class="row mx-2 mt-4 col-12">
		{% if form is defined %}
		    <button type="submit" form="q_form" class="btn btn-secondary btn-sm" name="singleoffset" value="{{ offset - 1 }}" {% if offset == 0 %}disabled="disabled"{% endif %}>vorheriger Treffer</button>
		    <button type="submit" form="q_form" class="btn btn-secondary btn-sm ml-1" name="singleoffset" value="{{ offset + 1 }}" {% if not hassuccessor %}disabled="disabled"{% endif %}>nächster Treffer</button></a>
		    <button type="submit" form="q_form" class="btn btn-secondary btn-sm ml-1 mr-3" name="offset" value="{{ offset }}">Ergebnisliste</button></a>
		{% endif %}
		<a href="{{ path('wiag_id_data', {id: diocese.wiagidlong, format: 'json'}) }}"><button class="btn btn-secondary btn-light btn-sm">JSON</button></a>
		<a href="{{ path('wiag_id_data', {id: diocese.wiagidlong, format: 'csv'}) }}"><button class="btn btn-secondary btn-light btn-sm ml-1">CSV</button></a>
		<a href="{{ path('wiag_id_data', {id: diocese.wiagidlong}) }}"><button class="btn btn-secondary btn-light btn-sm ml-1">RDF-XML</button></a>
		<a href="{{ path('wiag_id_data', {id: diocese.wiagidlong, format: 'json-ld'}) }}"><button class="btn btn-secondary btn-light btn-sm ml-1">JSON-LD</button></a>

	    </div>
	{% endif %}
    </div>
{% endblock %}
