{% extends 'base.html.twig' %}
{# 2021-08-26 obsolete? see listresult.html.twig #}
{% set menuItem='collections' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/query-diocese-autocomplete.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-3">
	<div class="row-col-12">{{ include('query_diocese/_title.html.twig') }}</div>
	{{ form_start(form, {'attr': {'id':'q_form', 'action':path('query_dioceses')}}) }}
	    <div class="row col-12">
		<div class="me-2 mt-1"
		     {{ stimulus_controller('autocomplete', {
			 url: path('query_dioceses_utility_names'),
		     }) }}>
		    {{ form_label(form.diocese) }}
		    {{ form_errors(form.diocese) }}
		    {{ form_widget(form.diocese, {
			attr: {
			    'data-autocomplete-target': "input",
			    'size': 31,
			},
		    }) }}
		    <ul class="list-group autocomplete-target"
			data-autocomplete-target="results"
			style="max-width: 20em;"></ul>
		</div>
	    </div>
	    {{ form_widget(form.searchHTML) }}
	{{ form_end(form) }}
    </div>
{% endblock %}
