{# query-diocese/listresult.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {# add page forward and backward buttons #}
    {% set fb_elements %}
    {% if count > 0 %}
	<span class="ml-4">
	    <button type="submit" form="q_form" class="btn btn-secondary" {% if offset < limit %} disabled="disabled" {% endif %} name="offset" value="{{ offset - limit }}">&#9204; zurück</button>
	    <button type="submit" form="q_form" class="btn btn-secondary" {% if offset + limit >= count%}disabled="disabled"{% endif %} name="offset" value="{{ offset + limit }}">vor &#9205;</button>
	</span>
    {% endif %}
    {% endset %}
    <div class="container-fluid mt-3">
	{# global: diocesestitle #}
	<div class="row-col-12 topic-title">{{ diocesestitle }}</div>
	{{ form_start(form, {'attr': {'id':'q_form', 'action':path('query_dioceses')}}) }}
	    <div class="row col-12">
		{{  form_row(form.diocese) }}
	    </div>
	    {{ form_widget(form.searchHTML) }}
	{{ form_end(form) }}
	<div class="row">
	    <div class="col-8 mt-3 mb-1">Treffer:
		{% if count == 0 %}
		    keine
		{% elseif count == 1 %}
		    1
		{% else %}
		    {{ offset + 1 }} - {{ min(offset + limit, count)}} von {{ count }}
		{% endif %}
		{{ fb_elements }}

		<a href="{{ path('api_query_dioceses', {format: 'json'}) }}"><button class="btn btn-secondary btn-light ml-3">JSON</button></a>
		<a href="{{ path('api_query_dioceses', {format: 'csv'}) }}"><button class="btn btn-secondary btn-light ml-3">CSV</button></a>
	    </div>
	</div>
    </div>
    </div>
    <div class="container-fluid">
	<div class="row">
	    <div class="col-9">
		<div class="table-responsive">
		    <table class="table">
			<thead class="thead-light">
			    <tr>
				<th scope="col">Name</th>
				<th scope="col"></th>
			    </tr>
			</thead>
			<tbody>
			    {% for diocese in dioceses %}
				<tr>
				    <td><button type="submit" form="q_form" class="btn btn-link" name="singleoffset" value="{{ offset + loop.index0 }}">{{ diocese.diocesestatus }} {{ diocese.diocese }}</button></td>
				    <td>
					{% if not diocese.dateoffounding and not diocese.dateofdissolution %}
					{% elseif diocese.dateoffounding and not diocese.dateofdissolution or diocese.dateofdissolution == "keine"%}
					    <small>Gründung {{ diocese.dateoffounding }} <br/> besteht bis heute</small>
					{% elseif not diocese.dateoffounding and diocese.dateofdissolution %}
					    <small>Aufhebung {{ diocese.dateofdissolution }}</small>
					{% else %}
					    <small>Gründung {{ diocese.dateoffounding }} <br/>Aufhebung {{ diocese.dateofdissolution }}</small>
					{% endif %}
				    </td>
				</tr>
			    {% endfor %}
			</tbody>
		    </table>
		</div> {# table-responsive #}
		{{ fb_elements }}

	    </div>
	</div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/popper.min.js') }}"></script>
    {{ parent() }}
{% endblock %}
