{# query-diocese/listresult.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {# add page forward and backward buttons #}
    {% set fb_elements %}
    {% if count > 0 %}
	<span class="ml-4">
	    <a href="{{ path('query_dioceses', {'offset': offset - limit, 'il': il}) }}"><button class="btn btn-secondary" {% if offset - limit < 0 %}disabled="disabled"{% endif %}>&#9204; zurück</button></a>
	    <a href="{{ path('query_dioceses', {'offset': offset + limit, 'il': il }) }}"><button class="btn btn-secondary" {% if offset + limit >= count%}disabled="disabled"{% endif %}>vor &#9205;</button></a>
	</span>
    {% endif %}
    {% endset %}
    <div class="container-fluid mt-3">
	{# global: diocesestitle #}
	<div class="row-col-12 topic-title">{{ diocesestitle }}</div>
	<div class="row">
	    <div class="col-8 mt-3 mb-1">Treffer:
		{% if count == 0 %}
		    keine
		{% elseif count == 1 %}
		    1
		{% else %}
		    {{ offset + 1 }} - {{ min(offset + limit, count)}} von {{ count }}
		{% endif %}
		{{ fb_elements }}

		<div class="btn-group"> <div class="dropdown">
		    <button class="btn btn-outline-secondary dropdown-toggle ml-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ il }}</button>
		    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			{% if il != 'A-Z' %}
			    <a class="dropdown-item" href="{{ path('query_dioceses', {'il': 'A-Z'}) }}">A-Z</a>
			{% endif %}
			{% for choice in 'A'..'Z' %}
			    <a class="dropdown-item" href="{{ path('query_dioceses', {'il': choice}) }}">{{ choice }}</a>
			{% endfor %}
		    </div>
		</div>
		<a href="{{ path('api_query_dioceses', {format: 'json'}) }}"><button class="btn btn-secondary btn-light ml-3">JSON</button></a>
		<a href="{{ path('api_query_dioceses', {format: 'csv'}) }}"><button class="btn btn-secondary btn-light ml-3">CSV</button></a>
		</div>
	    </div>
	</div>
    </div>
    <div class="container-fluid">
	<div class="row">
	    <div class="col-9">
		<div class="table-responsive">
		    <table class="table">
			<thead class="thead-light">
			    <tr>
				<th scope="col">Name</th>
				<th scope="col"></th>
			    </tr>
			</thead>
			<tbody>
			    {% for diocese in dioceses %}
				<tr>
				    <td><a href="{{ path('diocese_in_list', {'offset': offset + loop.index0, 'il': il}) }}">{{ diocese.diocesestatus }} {{ diocese.diocese }}</a></td>
				    <td>
					{% if not diocese.dateoffounding and not diocese.dateofdissolution %}
					{% elseif diocese.dateoffounding and not diocese.dateofdissolution or diocese.dateofdissolution == "keine"%}
					    <small>Gründung {{ diocese.dateoffounding }} <br/> besteht bis heute</small>
					{% elseif not diocese.dateoffounding and diocese.dateofdissolution %}
					    <small>Aufhebung {{ diocese.dateofdissolution }}</small>
					{% else %}
					    <small>Gründung {{ diocese.dateoffounding }} <br/>Aufhebung {{ diocese.dateofdissolution }}</small>
					{% endif %}
				    </td>
				</tr>
			    {% endfor %}
			</tbody>
		    </table>
		</div> {# table-responsive #}
		{{ fb_elements }}

	    </div>
	</div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/popper.min.js') }}"></script>
    {{ parent() }}
{% endblock %}
