{# query-diocese/listresult.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
    {# add page forward and backward buttons #}
    {% set fb_elements %}
    {% if count > 0 %}
	<span class="ml-4">
	    <a href="{{ path('query_dioceses', {'page': page - 1 }) }}"><button class="btn btn-secondary" {% if page < 2 >= count%}disabled="disabled"{% endif %}>&#9204; zur端ck</button></a>
	    <a href="{{ path('query_dioceses', {'page': page + 1 }) }}"><button class="btn btn-secondary" {% if page * limit >= count%}disabled="disabled"{% endif %}>vor &#9205;</button></a>
	</span>
    {% endif %}
    {% endset %}

    <div class="container-fluid mt-3">
	<h2>Bist端mer</h2>
	<div class="row">
	    <div class="col-8 mt-3 mb-1">Treffer:
		{% if count == 0 %}
		    keine
		{% elseif count == 1 %}
		    1
		{% else %}
		    {{ (page - 1) * limit + 1 }} - {{ min(page * limit, count)}} von {{ count }}
		{% endif %}
		{{ fb_elements }}
	    </div>
	</div>
    </div>
    <div class="container-fluid">
	<div class="row">
	    <div class="col-9">
		<div class="table-responsive">
		    <table class="table">
			<thead class="thead-light">
			    <tr>
				<th scope="col">Name</th>
				<th scope="col"></th>
			    </tr>
			</thead>
			<tbody>
			    {% for diocese in dioceses %}
				<tr>
				    <td><a href="{{ path('diocese', {idorname: diocese.wiagidlong, flaglist: 'flaglist'}) }}">{{ diocese.diocesestatus }} {{ diocese.diocese }}</a></td>
				    <td>
					{% if not diocese.dateoffounding and not diocese.dateofdissolution %}
					{% elseif diocese.dateoffounding and not diocese.dateofdissolution %}
					    <small>Gr端ndung {{ diocese.dateoffounding }}</small>
					{% elseif not diocese.dateoffounding and diocese.dateofdissolution %}
					    <small>Aufhebung {{ diocese.dateofdissolution }}</small>
					{% else %}
					    <small>Gr端ndung {{ diocese.dateoffounding }} <br/>Aufhebung {{ diocese.dateofdissolution }}</small>
					{% endif %}
				    </td>
				</tr>
			    {% endfor %}
			</tbody>
		    </table>
		</div> {# table-responsive #}
		{{ fb_elements }}
	    </div>
	</div>
    </div>
{% endblock %}
