{# {{ form_start(query_form, {'attr': {'id':'q_form'}}) }} #}
<div class="row col-12">
    {{  form_row(query_form.name) }}
    <span class="ml-2">{{ form_row(query_form.place) }}</span>
    <span class="ml-2">{{ form_row(query_form.office) }}</span>
    <span class="ml-2">{{ form_row(query_form.year) }}</span>
    {% if query_form.someid is defined %}
	<span class="ml-2">{{ form_row(query_form.someid) }}</span>
    {% endif %}
</div>
{{ form_widget(query_form.searchHTML) }}
<span class="ml-3">{{ form_widget(query_form.searchJSON) }}</span>
<span class="ml-3">{{ form_widget(query_form.searchCSV) }}</span>
<a href="{{ path('launch_query') }}" class="ml-3"><button class="btn btn-outline-primary" type="button">Neue Suche</button></a>

{# {{ form_end(query_form) }} #}
