{{ form_start(query_form, {'attr': {'id':'q_form'}}) }}
    <div class="col-12 row">
	{% set form_elements %}
	{{  form_row(query_form.name) }}
	<div class="ml-2">{{ form_row(query_form.place) }}</div>
	<div class="ml-2">{{ form_row(query_form.office) }}</div>
	<div class="ml-2">{{ form_row(query_form.year) }}</div>
	<div class="ml-2">{{ form_row(query_form.someid) }}</div>
	{% endset %}
	{{ form_elements }}
    </div>
    <button type="submit" class="btn btn-primary">Suche</button>

    {% if query_form.facetPlaces is defined %}
	<button id="toggleFacetPlaces" class="btn btn-secondary ml-4" type="button" data-toggle="collapse" data-target="#facetPlaces" aria-expanded="false" aria-controls="collapseFacetPlaces">Filter nach Orten</button>
	<input type="hidden" id ="facetPlacesState" name="facetPlacesState" value="{{ facetPlacesState }}">
	<div class="collapse" id="facetPlaces">
	    <div class="card card-body container-fluid">
		<div class="row row-cols-6">
		    {% for place in query_form.facetPlaces %}
			<div class="col-sm-2">{{ form_row(place) }}</div>
		    {% endfor %}
		</div>
	    </div>
	</div>
    {% endif %}
{{ form_end(query_form) }}
