<div class="table-responsive">
    <table class="table">
	<thead class="thead-light">
	    <tr>
		<th scope="col">Name</th>
		<th scope="col">Ämter</th>
	    </tr>
	</thead>
	<tbody>
	    {% for person in persons %}
		<tr>
		    <td><button type="submit" form="q_form" class="btn btn-link text-sm-start" name="singleoffset" value="{{ offset + loop.index0 }}">{{ person.givenname }} {{ person.prefixname }} {{ person.familyname }}</button>
			{% if not person.datebirth and not person.datedeath %}
			{% elseif person.datebirth and not person.datedeath %}
			    <p class="ms-3">* {{ person.datebirth }}</p>
			{% elseif not person.datebirth and person.datedeath %}
			    <p class="ms-3">&dagger; {{ person.datedeath }}</p>
			{% else %}
			    <p class="ms-3">* {{ person.datebirth }} <span class="ms-2">&dagger; {{ person.datedeath }}</span></p>
			{% endif %}
		    </td>
		    <td>{% for o in person.offices|sort((a, b) => a.numdate.datestart <=> b.numdate.datestart) %}
			<small>{{ o.officename }}
			    {% if o.diocese %}({{ o.diocese }}){% endif %}
			    {% if o.idmonastery %}({{ o.monasterylocationstr }}){% endif %}
			    {% if o.datestart and not o.dateend %}{{ o.datestart }}
			    {% elseif not o.datestart and o.dateend %}{{ o.dateend }}
			    {% elseif o.datestart and o.dateend %}{{ o.datestart }}-{{ o.dateend }}{% endif %}
			</small><br/>{% endfor %}
		    </td>
		</tr>
	    {% endfor %}
	</tbody>
    </table>
</div> {# table-responsive #}
