{% extends 'base.html.twig' %}

{% set urlgspersons = 'http://personendatenbank.germania-sacra.de/' %}
{% set urlgsmonasteries = 'http://klosterdatenbank.germania-sacra.de/' %}
{% set urlgnd = 'http://d-nb.info/gnd/' %}
{% set urlwikidata = 'https://www.wikidata.org/wiki/' %}
{% set urlviaf = 'https://viaf.org/viaf/' %}

{% block body %}
    <div class="container-fluid">
	{# person is passed as an object #}
	{% if not person%}
	    <p class="em">Person nicht gefunden.</p>
	{% else %}
	    <div class="row mt-3 mb-0"><div class="col-9">
		<h2>{{ person.displayname }}</h2>
	    </div>
	    <div class="col-3 wiag-id">{{ wiagidlong }}</div></div>

	    {% if person.flagcomment %}
		<div class="row col-12">
		    {% if person.givennamevariant is defined and person.givennamevariant != '' %}
			<span class="comment">{{ person.givennamevariant }}</span>
			{% if person.familynamevariant is defined and person.familynamevariant != '' %}
			    <span class="comment">; {{ person.familynamevariant }}</span>
			{% endif %}
			{% if person.commentname is defined and person.commentname != '' %}
			    <span class="comment">; {{ person.commentname }}</span>
			{% endif %}
			{% if person.commentperson is defined and person.commentperson != '' %}
			    <span class="comment">; {{ person.commentperson }}</span>
			{% endif %}
		    {% elseif person.familynamevariant is defined and person.familynamevariant != '' %}
			<span class="comment">{{ person.familynamevariant }}</span>
			{% if person.commentname is defined and person.commentname != '' %}
			    <span class="comment">; {{ person.commentname }}</span>
			{% endif %}
			{% if person.commentperson is defined and person.commentperson != '' %}
			    <span class="comment">; {{ person.commentperson }}</span>
			{% endif %}
		    {% elseif person.commentname is defined and person.commentname != '' %}
			<span class="comment">{{ person.commentname }}</span>
			{% if person.commentperson is defined and person.commentperson != '' %}
			    <span class="comment">; {{ person.commentperson }}</span>
			{% endif %}
		    {% elseif person.commentperson is defined and person.commentperson != '' %}
			<span class="comment">{{ person.commentperson }}</span>
		    {% endif %}
		</div>
	    {% endif %}

	    {% if not person.datebirth and not person.datedeath %}
	    {% else %}
		<div class="row col-12 mt-2">
		    {% if person.datebirth and not person.datedeath %}
			<span class="wiag-large">* {{ person.datebirth }}</span>
		    {% elseif not person.datebirth and person.datedeath %}
			<span class="wiag-large">&dagger; {{ person.datedeath }}</span>
		    {% else %}
			<span class="wiag-large">* {{ person.datebirth }} <span class="pl-3">&dagger; {{ person.datedeath }}</span></span>
		    {% endif %}
		</div>
	    {% endif %}
	    <dl class="row mt-3">
		{% if person.religiousorder %}
		    <dt class="col-sm-3">Orden</dt>
		    <dd class="col-sm-9">{{ person.religiousorder }}</dd>
		{% endif %}
		{% if person.offices %}
		    <dt class="col-sm-3">Ämter</dt>
		    <dd class="col-sm-9">
			<ul class="list-unstyled">
			    {% for office in person.offices %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item"> {{ office.officename }}</li>
					{% if office.diocese %}
					    <li class="list-inline-item">{{ office.diocese }}</li>
					{% endif %}
					{% if office.idmonastery %}
					    <li class="list-inline-item">
						<a href="{{ urlgsmonasteries }}gsn/{{ office.idmonastery }}">{{ office.monastery.monasteryname }}</a>
					    </li>
					{% endif %}
					<li class="list-inline-item">
					    {% if not office.datestart and not office.dateend %}
					    {% elseif office.datestart and not office.dateend %}
						{{ office.datestart }}
					    {% elseif not office.datestart and office.dateend %}
						bis {{ office.dateend }}
					    {% else %}
						{{ office.datestart }}–{{ office.dateend }}
					    {% endif %}
					</li>
					{% if office.comment %}
					    <li class="list-inline-item comment"> ({{ office.comment }}) </li>
					{% endif %}

				    </ul>
				</li>
			    {% endfor %}
			</ul>
		    </dd>
		{% endif %}
		{% if person.hasExternalIdentifier %}
		    <dt class="col-sm-3">Externe Identifier</dt>
		    <dd class="col-sm-9">
			<ul class ="list-unstyled">
			    {% if person.gndid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">GND</li>
					<li class="list-inline-item"><a href="{{ urlgnd }}{{ person.gndid }}">{{ person.gndid }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			    {% if person.viafid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">VIAF</li>
					<li class="list-inline-item"><a href="{{ urlviaf }}{{ person.viafid }}">{{ person.viafid }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			    {% if person.wikidataid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">Wikidata</li>
					<li class="list-inline-item"><a href="{{ urlwikidata }}{{ person.wikidataid }}">{{ person.wikidataid }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			</ul>
		    </dd>
		{% endif %}
		{% if person.hasOtherIdentifier %}
		    <dt class="col-sm-3">Siehe auch</dt>
		    <dd class="col-sm-9">
			<ul class ="list-unstyled">
			    {% if person.gsid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">Germania Sacra</li>
					<li class="list-inline-item">
					    <a href="{{ urlgspersons }}index/gsn/{{ person.gsid }}">{{ person.gsid }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			    {% if person.wikipediatitle %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">Wikipedia</li>
					<li class="list-inline-item"><a href="{{ person.wikipediaurl }}">{{ person.wikipediatitle }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			</ul>
		    </dd>
		{% endif %}
		{% if person.reference %}
		    <dt class="col-sm-3">Referenzwerk</dt>
		    <dd class="col-sm-9"><a href="{{ path('reference', {'id': person.referenceid}) }}">{{ person.reference.short }}</a>, S. {{ person.pagesgatz }}</dd>
		{% endif %}

	    </dl>

	    <div class="row col-12">Empfohlene Zitierweise:<br/>
		"{{ person.displayname }}" {# (WIAGID: {{ wiagidlong }}), #}
		{# app.request.schemeAndHttpHost ~ app.request.baseUrl  #}
		in: WIAG, {{ url('bishop', {wiagidlong: wiagidlong}) }} (Abgerufen: {{ "now"|date('d.m.Y') }}).</div>

	    <div class="row col-12 mt-4">
		{% if flaglist %}<input type="button" class="btn btn-secondary" onclick="window.history.back()" value="Ergebnisliste"/>{% endif %}
		<a href="{{ path('launch_query') }}"<button class="btn btn-secondary ml-1">Neue Suche</button></a>
		<a href="{{ path('api_bishop', {wiagidlong: wiagidlong, format: 'json'}) }}"<button class="btn btn-secondary btn-light ml-3">JSON</button></a>
		<a href="{{ path('api_bishop', {wiagidlong: wiagidlong, format: 'csv'}) }}"<button class="btn btn-secondary btn-light ml-3">CSV</button></a>
	    </div>
	{% endif %}
    </div>
{% endblock %}
