{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
	{# person is passed as an object #}
	{% if not person%}
	    <p class="em">Person nicht gefunden.</p>
	{% else %}
	    <div class="mt-3 mb-2">
		<h2>{{ person.givenname }} {{ person.prefixname }} {{ person.familyname }}</h2>
	    </div>
	    <dl class="row">
		{% if person.datebirth %}
		    <dt class="col-sm-3">geboren</dt>
		    <dd class="col-sm-9">{{ person.datebirth }}</dd>
		{% endif %}
		{% if person.datedeath %}
		    <dt class="col-sm-3">gestorben</dt>
		    <dd class="col-sm-9">{{ person.datedeath }}</dd>
		{% endif %}
		{% if person.religiousorder %}
		    <dt class="col-sm-3">Orden</dt>
		    <dd class="col-sm-9">{{ person.religiousorder }}</dd>
		{% endif %}
		
		{% if offices %}
		    <dt class="col-sm-3">Ämter</dt>
		    <dd class="col-sm-9">
			<ul class="list-unstyled">
			    {% for office in offices %}
				<li>
				    <ul class="list-inlined">
					<li class="list-inline-item"> {{ office.office_name }}</li>
					<li class="list-inline-item">{{ office.diocese }}</li>
					<li class="list-inline-item">
					    {% if not office.date_start and not office.date_end %}
					    {% elseif office.date_start and not office.date_end %}
						{{ office.date_start }}
					    {% elseif not office.date_start and office.date_end %}
						bis {{ office.date_end }}
					    {% else %}
						{{ office.date_start }}-{{ office.date_end }}
					    {% endif %}</li>
				    </ul>
				</li>
			    {% endfor %}
			</ul>
		    </dd>
		{% endif %}
		{% if familynamevariants %}
		    <dt class="col-sm-3">Varianten Familiennamen</dt>
		    <dd class="col-sm-9">
			<ul class="list-unstyled">
			    {% for fnv in familynamevariants %}
				<li>
				    <ul class="list-inlined">
					<li class="list-inline-item"> {{ fnv.familyname }}</li>
				    </ul>
				</li>
			    {% endfor %}
			</ul>
		    </dd>
		{% endif %}
		{% if givennamevariants %}
		    <dt class="col-sm-3">Varianten Vornamen</dt>
		    <dd class="col-sm-9">
			<ul class="list-unstyled">
			    {% for fnv in givennamevariants %}
				<li>
				    <ul class="list-inlined">
					<li class="list-inline-item"> {{ fnv.givenname }}</li>
				    </ul>
				</li>
			    {% endfor %}
			</ul>
		    </dd>
		{% endif %}

		<dt class="col-sm-3">WIAG</dt>
		<dd class="col-sm-9">{{ person.wiagid }}</dd>
		{% if person.gsid %}
		    <dt class="col-sm-3">Germania Sacra</dt>
		    <dd class="col-sm-9">
			<a href="http://germania-sacra-datenbank.uni-goettingen.de/index/gsn/{{ person.gsid }}">{{ person.gsid }}</a></dd>
		{% endif %}
		{% if person.gndid %}
		    <dt class="col-sm-3">GND</dt>
		    <dd class="col-sm-9"><a href="http://lobid.org/gnd/{{ person.gndid }}">{{ person.gndid }}</a></dd>
		{% endif %}
		{% if person.viafid %}
		    <dt class="col-sm-3">VIAF</dt>
		    <dd class="col-sm-9"><a href="https://viaf.org/viaf/{{ person.viafid }}">{{ person.viafid }}</a></dd>
		{% endif %}
		{% if person.wikipediaurl %}
		    <dt class="col-sm-3">Wikipedia</dt>
		    <dd class="col-sm-9"><a href="{{ person.wikipediaurl }}">{{ person.givenname }} {{ person.prefixname }} {{ person.familyname }}</a></dd>
		{% endif %}
		{% if person.reference %}
		    <dt class="col-sm-3">Fundstelle</dt>
		    {# Link einfügen #}
		    <dd class="col-sm-9"><a href="{{ path('reference', {'short': person.reference}) }}">{{ person.reference }}</a>, S. {{ person.pagesgatz }}</dd>
		{% endif %}
	    </dl>
		{% endif %}
    </div>
{% endblock %}
