{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/query-bishop-autocomplete.js') }}"></script>
{% endblock %}
	  
{% block body %}
    <div class="container-fluid">
	<div class="mt-3"><h3>Suche nach Bischöfen</h3></div>
	{{ include('query_bishop/_form_elements.html.twig') }}
    </div>
{% endblock %}
