{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/query-bishop-autocomplete.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}"
{% endblock %}

{% block body %}
    <div class="container-fluid">
	<div class="mt-3"><h3>Suche nach Bischöfen</h3></div>
	    {{ form_start(query_form) }}
		<div class="col-12 row">
		    {{ form_row(query_form.name) }}
		    <div class="ml-2">{{ form_row(query_form.place) }}</div>
		    <div class="ml-2">{{ form_row(query_form.year) }}</div>
		    <div class="ml-2">{{ form_row(query_form.someid) }}</div>
		</div>
		<button type="submit" class="btn btn-primary">Suche</button>
		<!-- <span class="ml-4">
		     <button type="submit" class="btn btn-secondary" name="page" value="2">vor</button>
		     </span> -->
	    {{ form_end(query_form) }}	    
    </div>
    {% block list_results %}{% endblock %}
{% endblock %}
