{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
	<div class="mt-3"><h3>Suche nach Bischöfen</h3></div>
	{{ form_start(query_form) }}
	    <div class="col-12 row">
		{{ form_row(query_form.name) }}
		<div class="ml-2">{{ form_row(query_form.place) }}</div>
		<div class="ml-2">{{ form_row(query_form.year) }}</div>
		<div class="ml-2">{{ form_row(query_form.someid) }}</div>
	    </div>
	    <button type="submit" class="btn btn-primary">Suche</button>
	{{ form_end(query_form) }}	    
    </div>
    {% block list_results %}{% endblock %}
{% endblock %}
