{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/query-bishop-autocomplete.js') }}"></script>
    <script src="{{ asset('js/query-bishop-facet.js') }}"></script>
{% endblock %}

{% block body %}
    {# add page forward and backward buttons #}
    {% set fb_elements %}
    {% if count > 0 %}
	<span class="ml-4">
	    <button type="submit" form="q_form" class="btn btn-secondary" {% if page < 2 %} disabled="disabled" {% endif %} name="page" value="{{ page - 1 }}">&#9204; zurück</button>
	    <button type="submit" form="q_form" class="btn btn-secondary" {% if page * limit >= count%}  disabled="disabled" {% endif %} name="page" value="{{ page + 1 }}">vor &#9205;</button>
	</span>
    {% endif %}
    {% endset %}

    {{ form_start(query_form, {'attr': {'id':'q_form'}}) }}
	<div class="container-fluid mt-3">
	    <h3>Suche nach Bischöfen</h3>
	    {{ include('query_bishop/_form_elements.html.twig') }}
	    <div class="row">
		<div class="col-8 mt-3 mb-1">Treffer:
		    {% if count == 0 %}
			keine
		    {% elseif count == 1 %}
			1
		    {% else %}
			{{ (page - 1) * limit + 1 }} - {{ min(page * limit, count)}} von {{ count }}
		    {% endif %}
		    {{ fb_elements }}
		</div>
	    </div>
	</div>

	<div class="container-fluid">
	    {% if count > 0 or query_form.facetPlaces is defined or query_form.facetOffices is defined%}
		<div class="row">
		    <div class="col-9">
			<div class="table-responsive">
			    <table class="table">
				<thead class="thead-light">
				    <tr>
					<th scope="col">Name</th>
					<th scope="col">Ämter</th>
				    </tr>
				</thead>
				<tbody>
				    {% for person in persons %}
					<tr>
					    <td><a href="{{ path('bishop', {wiagidlong: person.wiagidlong, flaglist: 'flaglist'}) }}">{{ person.givenname }} {{ person.prefixname }} {{ person.familyname }}</a>
						{% if not person.datebirth and not person.datedeath %}
						{% elseif person.datebirth and not person.datedeath %}
						    <br/>* {{ person.datebirth }}
						{% elseif not person.datebirth and person.datedeath %}
						    <br/>&dagger; {{ person.datedeath }}
						{% else %}
						    <br/>* {{ person.datebirth }} <span class="ml-2">&dagger; {{ person.datedeath }}</span>
						{% endif %}
					    </td>
					    <td>{% for o in person.offices|sort((a, b) => a.numdate.datestart <=> b.numdate.datestart) %}
						<small>{{ o.officename }}
						    {% if o.diocese %}({{ o.diocese }}){% endif %}
						    {% if o.datestart and not o.dateend %}{{ o.datestart }}
						    {% elseif not o.datestart and o.dateend %}{{ o.dateend }}
						    {% elseif o.datestart and o.dateend %}{{ o.datestart }}-{{ o.dateend }}{% endif %}
						</small><br/>{% endfor %}
					    </td>
					</tr>
				    {% endfor %}
				</tbody>
			    </table>
			</div> {# table-responsive #}
			{{ fb_elements }}
		    </div>
		    {# facets #}
		    <div class="col-3">
			{% if query_form.facetPlaces is defined %}
			    <div class="card card-body container-fluid">
				<strong class="card-title">Filter Bistum</strong>
				{% for fpl in query_form.facetPlaces%}
				    <div class="form-group mb-2">
					{{ form_widget(fpl) }}
				    </div>
				{% endfor %}
			    </div>
			{% endif %}
			{% if query_form.facetOffices is defined %}
			    <div class="card card-body container-fluid">
				<strong class="card-title">Filter Amt</strong>
				{% for foc in query_form.facetOffices%}
				    <div class="form-group mb-2">
					{{ form_widget(foc) }}
				    </div>
				{% endfor %}
			    </div>
			{% endif %}
		    </div>
		</div>
	    {% endif %}
    </div>
    {{ form_end(query_form) }}

{% endblock %}
