{# query_canon/listresult.html.twig #}
{% extends 'base.html.twig' %}
{% set menuItem='collections' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {# add page forward and backward buttons #}
    {% set fb_elements %}
    {% if count > 0 %}
	    <button type="submit" form="q_form" class="btn btn-secondary" {% if offset < limit %} disabled="disabled" {% endif %} name="offset" value="{{ offset - limit }}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg> zurück</button>
	    <button type="submit" form="q_form" class="btn btn-secondary ms-1" {% if offset + limit >= count%}disabled="disabled"{% endif %} name="offset" value="{{ offset + limit }}">vor <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg></button>
    {% endif %}
    {% endset %}

    {{ form_start(query_form, {'attr': {'id':'q_form', 'action':path('query_canons_gs')} }) }}
	<div class="container-fluid mt-3">
	    <div class="row mx-2 col-12">
		{{ include('query_canon_gs/_title.html.twig') }}
	    </div>
	    <div class="row mx-2 mt-2">
		<div class="col-12">
		    {{ form_row(query_form.domstift) }}
		    <span class="ms-2">{{ form_row(query_form.searchHTML) }}</span>
		</div>
	    </div>

	    <div class="row ms-2 mt-3">
		<div class="col-12">
		    Treffer:
		    {% if count == 0 %}
			keine
		    {% elseif count == 1 %}
			1
		    {% else %}
			{{ offset + 1 }} - {{ min(offset + limit, count)}} von {{ abovelimit }}{{ count }}
		    {% endif %}
		    <span class="ms-3">{{ fb_elements }}</span>
		</div>
	    </div>
	</div>
	{% if count > 0 %}
	    <div class="container-fluid">
	    <div class="row mt-2 mx-2 mb-2">
		<div class="col-9">
		    <div class="table-responsive">
			<table class="table">
			    <thead class="thead-light">
				<tr>
				    <th scope="col">Name</th>
				    <th scope="col">Ämter</th>
				</tr>
			    </thead>
			    <tbody>
				{% for person in persons %}
				    <tr>
					<td><button type="submit" form="q_form" class="btn btn-link text-sm-left" name="singleoffset" value="{{ offset + loop.index0 }}">{{ person.person.vorname }} {{ person.person.namenspraefix }} {{ person.person.familienname }}</button>
					    {% if not person.person.geburtsdatum and not person.person.sterbedatum %}
					    {% elseif person.person.geburtsdatum and not person.person.sterbedatum %}
						<p class="ms-3">* {{ person.person.geburtsdatum }}</p>
					    {% elseif not person.person.geburtsdatum and person.person.sterbedatum %}
						<p class="ms-3">&dagger; {{ person.person.sterbedatum }}</p>
					    {% else %}
						<p class="ms-3">* {{ person.person.geburtsdatum }} <span class="ms-2">&dagger; {{ person.person.sterbedatum }}</span></p>
					    {% endif %}
					</td>
					<td>{% for o in person.aemter|sort((a, b) => a.von <=> b.von) %}
					    <small>{{ o.bezeichnung }}
						{% if o.institution %}({{ o.institution }})
						{% elseif o.dioezese %}({{ o.dioezese }}){% endif %}
						{% if o.von and not o.bis %}{{ o.von }}
						{% elseif not o.von and o.bis %}{{ o.bis }}
						{% elseif o.von and o.bis %}{{ o.von }}-{{ o.bis }}{% endif %}
					    </small><br/>{% endfor %}
					</td>
				    </tr>
				{% endfor %}
				<tr>
				    <td>{{ fb_elements }}</td>
				    <td></td>
				</tr>
			    </tbody>
			</table>
		    </div> {# table-responsive #}
		</div>
	    </div>
	</div>
	{% endif %}
    {{ form_end(query_form) }}

{% endblock %}
