{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid mx-4 my-2">
	{% if is_granted('ROLE_USER') %}
	    <div class="row col-sm-10">
	    <div class="container-fluid">
	    <div class="row">
		<div class="col-3 m-1">
		    <a href="{{ path('launch_query') }}"><img src="{{ asset('images/Bischoefe-sc1.jpg') }}" class="img-fluid"></a>
		    <p class="mt-1"><a href="{{ path('launch_query') }}" class="text-reset"><strong>Bischöfe</strong></a></p>
		</div>
		<div class="col-3 m-1">
		    <a href="{{ path('query_dioceses', {'list': 'all'}) }}"><img src="{{ asset('images/Bistuemer-sc1.jpg') }}" class="img-fluid"></a>
		    <p class="mt-1"><a href="{{ path('query_dioceses', {'list': 'all'}) }}" class="text-reset"><strong>Bistümer</strong></a></p>
		</div>
	    </div></div>
	    </div>
	{% else %}
	<div class="row justify-content-center">
	    <figure role="group" class="col col-lg-8 pt-3">
		<img src="{{ asset('images/WIAG-netz-md.png') }}"
		     class="img-fluid"
		     alt="Vernetzte Daten in WIAG">
	    </figure>
	</div>
	{% endif %}
    </div>
{% endblock %}
