{% extends 'base.html.twig' %}


{% block body %}
    {# It is ok to drop the wrapping container. This leads here to the desired left margin.#}
    {% if is_granted('ROLE_USER') %}
	<div class="row mx-2">
	    <div class="col-md-3">
		<figure class="figure">
		    <a href="{{ path('launch_query') }}"><img src="{{ asset('images/Bischoefe-sc10.jpg') }}" class="figure-img img-fluid"></a>
		    <figcaption><a href="{{ path('about_images') }}#kirchenlehrer_naumburg">Bildnachweis</a></figcaption>
		</figure>
		<p><a href="{{ path('launch_query') }}"><strong>Bischöfe des Alten Reiches</strong></a></p>
		<p class="mt-n2">Datensammlung mit Basisdaten zu allen Patriarchen, Erzbischöfen, Bischöfen, Weihbischöfen und weiteren diözesanen Leitungspersonen des Alten Reiches, die in dem mehrbändigen Bischofslexikon „Die Bischöfe des Heiligen Römischen Reiches“ sowie „Die Bistümer des Heiligen Römischen Reiches“ von Erwin Gatz (Hg.) verzeichnet sind. Neben den biographischen Angaben sind die wichtigsten Leitungsämter mit Amtszeiten erfasst. Alle Datensätze sind mit Normdaten ausgezeichnet.</p>
	    </div>
	    <div class="col-md-3">
		<figure class="figure">
		    <a href="{{ path('query_dioceses') }}"><img src="{{ asset('images/Bistuemer-sc10.jpg') }}" class="figure-img img-fluid"></a>
		    <figcaption><a href="{{ path('about_images') }}#karte_bistuemer">Bildnachweis</a></figcaption>
		</figure>
		<p><a href="{{ path('query_dioceses') }}"><strong>Bistümer des Alten Reiches</strong></a></p>
		<p class="mt-n2">Übersicht über die Erzbistümer und Bistümer des Alten Reiches, nach: „Die Bistümer des Alten Reiches“ nach Erwin Gatz (Hg.), „Die Bistümer des Alten Reiches von ihren Anfängen bis zur Säkularisation“, Freiburg im Breisgau 2003. Die Datensammlung enthält Basisdaten zu den Bistümern und ist mit Links zu Normdatensammlungen angereichert.</p>
	    </div>
	    <div class="col-md-3">
		<figure class="figure">
		    <a href="{{ path('query_canons') }}"><img src="{{ asset('images/Konstanz_Dacher-bc10.jpg') }}" class="figure-img img-fluid" alt="Stadtansicht von Konstanz mit Münster"></a>
		    <figcaption><a href="{{ path('about_images') }}#stadtansicht_konstanz">Bildnachweis</a></figcaption>
		</figure>

		<p><a href="{{ path('query_canons') }}"><strong>Domherren des Alten Reiches</strong></a></p>
		<p class="mt-n2">Datensammlung mit Basisdaten zu den Dignitären, Domherren und Domvikaren der Domstifte des Alten Reiches (im Aufbau).</p>
	    </div>
	    <div class="col-md-3">
		<figure class="figure">
		    <a href="{{ path('canons_schwerin') }}"><img src="{{ asset('images/StAlexandri_Einbeck_Chorgestuehl-sc10.jpg') }}" class="figure-img img-fluid" alt="Chorgestühl St. Alexandri, Einbeck"></a>
		</figure>
		<p><a href="{{ path('query_canons') }}"><strong>Domherren des Domstift Schwerin</strong></a></p>
		<p class="mt-n2">Datensammlung mit Basisdaten zu den Dignitären, Domherren und Domvikaren.</p>
		<p><small>Bild (Platzhalter): Chorgestühl St. Alexandri, Einbeck. Jan Stubenitzky,
		    <a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA 3.0</a></small></p>
	    </div>
	</div>
    {% else %}
	<div class="row justify-content-center">
	    <figure role="group" class="col col-md-8 pt-3">
		<img src="{{ asset('images/WIAG-netz-md.png') }}"
		     class="img-fluid"
		     alt="Vernetzte Daten in WIAG">
	    </figure>
	</div>
    {% endif %}
{% endblock %}
