<!DOCTYPE html>
<html class="h-100">
    <head>
	<meta charset="UTF-8">
	<title>{% block title %}WIAG{% endblock %}</title>
	{% block stylesheets %}
	    {# <link rel="stylesheet"
	    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> #}
	    <link rel="stylesheet" href="{{ asset('css/wiagweb-v0.0.9.css') }}">
	    <link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
		  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
	{% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
	<div class="container-fluid">
	    <div class="row ml-2">
		<div class="fixed mt-3">
		    <a href="{{ path('wiag_welcome') }}"><img src="{{ asset('images/WIAG-logo.png') }}" width="80"></a>
		</div>
		<div class="col mt-3">
		    <a class="wiag-title text-reset text-decoration-none" href="{{ path('wiag_welcome') }}">Wissensaggregator Mittelalter und Frühe Neuzeit</a> <span class="wiag-version ml-1">Version: Beta</span>
		    <p>Strukturierung, Standardisierung und Bereitstellung von Forschungsdaten aus Sach- und Schriftquellen des Mittelalters und der Frühen Neuzeit</p>
		</div>
	    </div>
	</div>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-sm navbar-light bg-white">
		    <ul class="navbar-nav ml-auto">
			{% if is_granted('ROLE_USER') %}
			    <li class="nav-item active btn-group m-1"><div class="dropdown">
				{# border-white?! #}
				<button class="btn btn-light bg-white font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Über&nbsp;WIAG</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				    <a class="dropdown-item" href="{{ path('wiag_about') }}">Ziele</a>
				    <a class="dropdown-item" href="{{ path('reference_list') }}">Referenzwerke</a>
				    <a class="dropdown-item" href="{{ path('api_documentation') }}">API</a>
				    <a class="dropdown-item" href="{{ path('wiag_contact') }}">Kontakt</a>
				</div>
			    </div></li>
			    {% if is_granted('ROLE_QUERY') %}
				<li class="nav-item active btn-group m-1"><div class="dropdown">
				    <button class="btn btn-light font-weight-bold bg-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Datensammlungen</button>
				    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" href="{{ path('launch_query') }}">Bischöfe des Alten Reiches</a>
					<a class="dropdown-item" href="{{ path('query_dioceses') }}">Bistümer des Alten Reiches</a>
					<a class="dropdown-item" href="{{ path('query_canons') }}">Domherren des Alten Reiches</a>
					{% if is_granted('ROLE_DATA_ADMIN') %}
					    <a class="dropdown-item" href="{{ path('bulk_export_dispatch') }}">Datenexport</a>
					{% endif %}
				    </div>
				</div></li>
			    {% endif %}
			    <li class="nav-item m-1"><a href="{{ path('data_service') }}"><button class="btn btn-light font-weight-bold bg-white">Datenservice</button></a></li>
			    <li class="nav-item m-1"><a href="{{ path('wiag_logout') }}"><button class="btn btn-light font-weight-bold bg-white">Logout</button></a></li>
			{% endif %}
			{% if not is_granted('ROLE_USER') %}
			    <li class="nav-item m-1"><a href="{{ path('wiag_login') }}"><button class="btn btn-light font-weight-bold bg-white">Login</button></a></li>
			{% endif %}
		    </ul>
		</nav></div>

	{% block body %}{% endblock %}
	<footer class="mt-auto pt-3 pb-2">
	    <div class="container-fluid">
		<div class="row justify-content-sm-center">
		    <div class="col-sm-10 text-left">
			<a href="https://adw-goe.de" class="mr-3" target="_blank" rel="noopener"><img src="{{ asset('images/ADWGoe-logo-fit.png') }}" height="60"></a>
			<a href="http://www.inschriften.net" class="mx-3" target="_blank" rel="noopener"><img src="{{ asset('images/DI-logo-fit.png') }}" height="60"></a>
			<a href="https://adw-goe.de/forschung/forschungsprojekte-akademienprogramm/germania-sacra/" class="mx-3" target="_blank" rel="noopener"><img src="{{ asset('images/GS-logo.png') }}" height="52"></a>
		    </div>
		</div>
		<div class="row justify-content-sm-center mt-2">
		    <div class="col-sm-10 text-left">
			<a href="https://adw-goe.de/impressum" class="wiag-impress" target="_blank" rel="noopener">Impressum</a>
			<a href="{{ path('wiag_contact') }}" class="wiag-impress ml-2">Kontakt</a>
		    </div>
		</div>
	    </div>
	</footer>
	{% block javascripts %}
	    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	{% endblock %}
    </body>
</html>
