<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<title>{% block title %}WIAG{% endblock %}</title>
	{% block stylesheets %}
	    <link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	    <link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
		  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
	    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
	{% endblock %}
    </head>
    <body>
	<nav class="navbar navbar-light bg-light" style="height: 100px;">
	    <div>
		<a href="{{ path('wiag_welcome') }}"><img src="{{ asset('images/WIAG-logo.png') }}" width="70" height="70"></a>
		<a class="navbar-brand" href="{{ path('wiag_welcome') }}">
		    <i style="color: #444; font-size: 2rem;" class="pb-1 fad fa-cauldron"></i>
		    <p class="pl-2 d-inline font-weight-bold" style="color: #444;">Wissensaggregator Mittelalter und Frühe Neuzeit</p>
		</a>
	    </div>
	    <div class="mt-2">
		{% if is_granted('ROLE_USER') %}
		    <div class="btn-group"><div class="dropdown">
			<button class="btn btn-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Über WIAG</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			    <a class="dropdown-item" href="{{ path('wiag_about') }}">Ziele</a>
			    <a class="dropdown-item" href="{{ path('reference_list') }}">Referenzwerke</a>
			    <a class="dropdown-item" href="{{ path('api_documentation') }}">API</a>
			</div>
		    </div></div>
		    {% if is_granted('ROLE_QUERY') %}
			<a href="{{ path('launch_query') }}"><button class="btn btn-dark">Bischöfe</button></a>
		    {% endif %}
		    <a href="{{ path('wiag_logout') }}"><button class="btn btn-dark">Logout</button></a>
		{% endif %}
		{% if not is_granted('ROLE_USER') %}
		    <a href="{{ path('wiag_login') }}"<button class="btn btn-dark">Login</button></a>
		{% endif %}
	    </div>
	</nav>

	{% block body %}{% endblock %}
	<footer class="mt-5 p-3 text-center">
	    <p>Ein Projekt von
		<a class="dio" href="https://adw-goe.de/forschung/forschungsprojekte-akademienprogramm/deutsche-inschriften/">Deutsche Inschriften</a>
		und
		<a class="gs" href="https://adw-goe.de/forschung/forschungsprojekte-akademienprogramm/germania-sacra/">Germania Sacra</a>.</p>
	    <p><a href="https://adw-goe.de/impressum/">Impressum</a></p>
	</footer>
	{% block javascripts %}
	    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	{% endblock %}
    </body>
</html>
