{# {{ form_start(query_form, {'attr': {'id':'q_form'}}) }} #}
<div class="row ml-2 col-12">
    {{  form_row(query_form.someid) }}
    <span class="ml-2">{{ form_row(query_form.name) }}</span>
    <span class="ml-2">{{ form_row(query_form.monastery) }}</span>
    <span class="ml-2">{{ form_row(query_form.office) }}</span>
    <span class="ml-2">{{ form_row(query_form.place) }}</span>
    <span class="ml-2">{{ form_row(query_form.year) }}</span>
</div>
<div class="row ml-2 col-12">
    {{ form_row(query_form.searchHTML) }}
    <a href="{{ path('canons_edit') }}" class="ml-1"><button class="btn btn-secondary btn-light btn-sm" type="button">Neue Suche</button></a>
</div>

{# {{ form_end(query_form) }} #}
