{% extends 'base.html.twig' %}
{% set menuItem='collections' %}

{% block javascripts %}
    {{ parent() }}
    {# this is required for canon.js, even if it is not necessary for this page #}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/canon.js') }}"></script>
{% endblock %}

{% if person.iddh %}{% set canon = person.canondh %}
{% elseif person.idep %}{% set canon = person.bishop %}
{% else %}{% set canon = person.canongs %}
{% endif %}

{% set urlgspersons = 'http://personendatenbank.germania-sacra.de/' %}
{% set urlgsmonasteries = 'http://klosterdatenbank.germania-sacra.de/' %}
{% set urlgnd = 'http://d-nb.info/gnd/' %}
{% set urlwikidata = 'https://www.wikidata.org/wiki/' %}
{% set urlviaf = 'https://viaf.org/viaf/' %}
{% set urlwikipedia = 'https://de.wikipedia.org/wiki/' %}
{% set permalink %}{{ protocol }}:{{ url('id', {id: person.wiagid}, schemeRelative=true) }}{% endset %}
{% set citation %}"{{ canon.displayname }}" in: WIAG, {{ protocol }}:{{ url('id', {id: person.wiagid}, schemeRelative=true) }} (Abgerufen: {{ "now"|date('d.m.Y') }}).{% endset %}

{% macro sectionoffices(offices, urlgsmonasteries) %}
    <dt class="col-sm-3">Ämter</dt>
    <dd class="col-sm-9">
	<ul class="list-unstyled">
	    {% for office in offices %}
		<li>
		    <ul class="list-inlined list-unstyled">
			<li class="list-inline-item"> {{ office.officename }}</li>
			{% if office.diocese and not office.idmonastery %}
			    <li class="list-inline-item">{% if office.dioceseindb %}<a href="{{ path('diocese', {'name': office.diocese}) }}">{{ office.diocese }}</a>{% else %}{{ office.diocese }}{% endif %}</li>
			{% endif %}
			{% if office.idmonastery %}
			    <li class="list-inline-item">
				<a href="{{ urlgsmonasteries }}gsn/{{ office.idmonastery }}" target="_blank" rel="noopener">{{ office.monastery.monasteryname }}</a>
			    </li>
			{% endif %}
			<li class="list-inline-item">
			    {% if not office.datestart and not office.dateend %}
			    {% elseif office.datestart and not office.dateend %}
				{{ office.datestart }}
			    {% elseif not office.datestart and office.dateend %}
				bis {{ office.dateend }}
			    {% else %}
				{{ office.datestart }}–{{ office.dateend }}
			    {% endif %}
			</li>
			{% if office.archdeaconterritory %}
			    <li class="list-inline-item comment"> Archidiakonat {{ office.archdeaconterritory }} </li>
			{% endif %}
			{% if office.comment %}
			    <li class="list-inline-item comment"> ({{ office.comment }}) </li>
			{% endif %}

		    </ul>
		</li>
	    {% endfor %}
	</ul>
    </dd>
{% endmacro %}

{% macro makebiogramlink(p, last, url_gs_bios) %}
    {% if p.isbio %}<strong>{{ p.page }} </strong><a class="btn btn-danger btn-sm" role="button" href="{{ url_gs_bios }}/{{ p.page }}" target="_blank" rel="noopener"><strong>Biogramm online lesen</strong></a>{% else %}{{ p.page }}{% endif %}{%if not last %},{% endif %}
{% endmacro %}

{% macro biogramlinks(pages, url_gs_bios) %}
    {% for p in pages %}{{ _self.makebiogramlink(p, loop.last, url_gs_bios) }}{% endfor %}
{% endmacro %}

{% macro sectionreferences(references, isgs, url_gs_bios) %}
    <dt class="col-sm-3">{{ references|length > 1 ? 'Referenzwerke' : 'Referenzwerk' }}</dt>
    <dd class="col-sm-9">
	{# <ul class="list-unstyled">  #}
	<ul class="{% if references|length == 1 %}list-unstyled{% else %}pl-3{% endif %} small">
	    {% for cnref in references %}
		{% set refid = cnref.idinreference %}
		{% set refuri %}{% if cnref.reference.onlineresource %}{{ cnref.reference.onlineresource }}{% else %}{{ path('canon_reference', {'id': cnref.reference.id }) }}{% endif %}{% endset %}
		{# % set refdisplaytitle %}{% if cnref.reference.fulltitle %}{{ cnref.reference.fulltitle }}{% else %}{{ cnref.reference.author }}, {{ cnref.reference.title }}{% endif %}{% endset % #}
		{% set refdisplaytitle=cnref.reference.title %}
		{% if cnref.isbio and cnref.status == 'online' %}
		    {# version with link <li><a href="{{ refuri }}">{{ refdisplaytitle }}</a>, S. {{ cnref.pagebio }}, <a class="btn btn-danger btn-sm" role="button" href="{{ url_gs_bios }}{{ cnref.reference.numbervol }}/{{ cnref.pagebio }}" target="_blank" rel="noopener">Biogramm online lesen</a></li> #}
		    <li>{{ refdisplaytitle }}, S. {{ _self.biogramlinks(cnref.pages, url_gs_bios ~ cnref.reference.numbervol) }}</li>
		{% elseif isgs %}
		    <li>{{ refdisplaytitle }}, {% if refid %} S. {{ cnref.pagereference|raw }}, ID/Nr. {{ refid }}. {% else %} S. {{ cnref.pagereference|raw }}. {% endif %}<strong>Biogramm in Printpublikation vorhanden</strong></li>
		{% else %}
		    <li>{{ refdisplaytitle }}{% if cnref.pagereference %}, S. {{ cnref.pagereference }}{% if refid %}, ID/Nr. {{ refid }}{% endif %}{% else %}{% if refid %}, ID/Nr. {{ refid }}{% endif %}{% endif %}</li>
		{% endif %}
	    {% endfor %}
	</ul>
    </dd>
{% endmacro %}
{% macro sectionreferencesdh (references) %}
    {# references are of type canon #}
    <dt class="col-sm-3">{{ references|length > 1 ? 'Referenzwerke' : 'Referenzwerk' }}</dt>
    <dd class="col-sm-9">
	<ul class="{% if references|length == 1 %}list-unstyled{% else %}pl-3{% endif %} small">
	    {% for ref in references|sort((a, b) => (a.reference.id <=> b.reference.id)) %}
		{% set refid = ref.idinreference %}
		{% set refuri %}{% if ref.reference.onlineresource %}{{ ref.reference.onlineresource }}{% else %}{{ path('canon_reference', {'id': ref.reference.id }) }}{% endif %}{% endset %}
		{% set refdisplaytitle=ref.reference.title %}
		<li>{{ refdisplaytitle }}{% if ref.pagereference %}, S. {{ ref.pagereference }}{% if refid %}, ID/Nr. {{ refid }}{% endif %}{% else %}{% if refid %}, ID/Nr. {{ refid }}{% endif %}{% endif %}</li>
	    {% endfor %}
	</ul>
    </dd>
{% endmacro %}

{% block body %}
    {# person is passed as an object #}
    {% if not person%}
	<p class="em">Person nicht gefunden.</p>
    {% else %}
	{% if query_form is defined %}
	    {{ form_start(query_form, {'attr': {'id':'q_form', 'action':path('query_canons'), 'hidden': 'hidden'} }) }}
		{{ include('canon/_form_elements.html.twig') }}
	    {{ form_end(query_form) }}
	{% endif %}
	<div class="container-fluid mt-3 mb-2">
	    <div class="row mx-2 col-12">
		{{ include('canon/_title.html.twig') }}
	    </div>
	    <div class="row mx-2 col-12 mt-4 mb-2">
		<div class="d-flex">
		    {% if query_form is defined %}
			<button type="submit" form="q_form" class="btn btn-outline-secondary btn-sm" name="singleoffset" value="{{ offset - 1 }}" {% if offset == 0 %}disabled="disabled"{% endif %}>vorheriger Treffer</button>
			<button type="submit" form="q_form" class="btn btn-outline-secondary btn-sm ms-1" name="singleoffset" value="{{ offset + 1 }}" {% if not hassuccessor %}disabled="disabled"{% endif %}>nächster Treffer</button>
			<button type="submit" form="q_form" class="btn btn-outline-secondary btn-sm ms-1" name="offset" value="{{ offset }}">Ergebnisliste</button>
			<a href="{{ path('query_canons') }}"><button class="btn btn-outline-secondary btn-sm ms-1 me-3">Neue Suche</button></a>
		    {% else %}
			<a href="{{ path('query_canons') }}"><button class="btn btn-outline-secondary btn-sm me-2" type="button">Suche</button></a>
		    {% endif %}
		    <a href="{{ path('wiag_id_data', {id: person.wiagid, format: 'json'}) }}"><button class="btn btn-secondary btn-light btn-sm">JSON</button></a>
		    <a href="{{ path('wiag_id_data', {id: person.wiagid, format: 'csv'}) }}"><button class="btn btn-secondary btn-light btn-sm ms-1">CSV</button></a>
		    <a href="{{ path('wiag_id_data', {id: person.wiagid}) }}"><button class="btn btn-secondary btn-light btn-sm ms-1">RDF-XML</button></a>
		    <a href="{{ path('wiag_id_data', {id: person.wiagid, format: 'json-ld'}) }}"><button class="btn btn-secondary btn-light btn-sm ms-1">JSON-LD</button></a>
		</div>
	    </div>
	    <div class="row col-12 mx-2 mt-2 mb-0">
		<div class="d-flex justify-content-between">
		    <span class="fs-2">{{ canon.displayname[:200] }}</span>
		    <button type="button"
			    class="btn"
			    title="{{ permalink }}"
			    {{ stimulus_controller('clipboard') }}
			    data-action="clipboard#copyTitle">{{ person.wiagid }} <img src="{{ asset('images/link45deg.svg') }}" width="18"></button>
		</div>
	    </div>
	    {% if canon.createNameVariantLine %}
		<div class="row mx-2">
		    <div class="col-12 comment">
			{{ canon.createNameVariantLine }}
		    </div>
		</div>
	    {% endif %}

	    {% if not canon.datebirth and not canon.datedeath %}
	    {% else %}
		<div class="row mx-2 col-12 mt-2 mb-1">
		    {% if canon.datebirth and not canon.datedeath %}
			<span class="wiag-large">* {{ canon.datebirth }}</span>
		    {% elseif not canon.datebirth and canon.datedeath %}
			<span class="wiag-large">&dagger; {{ canon.datedeath }}</span>
		    {% else %}
			<span class="wiag-large">* {{ canon.datebirth }} <span class="pl-3">&dagger; {{ canon.datedeath }}</span></span>
		    {% endif %}
		</div>
	    {% endif %}

	    {% if canon.flagcommentperson%}
		<div class="row mx-2 col-12">
		    <span class="comment">Bemerkungen: {{ canon.commentperson }}</span>
		</div>
	    {% endif %}
	    {% if canon.religiousorder or canon.academictitle %}
		<dl class="row mx-2 mt-3">
		    {% if canon.religiousorder %}
			<dt class="col-sm-3">Orden</dt>
			<dd class="col-sm-9">{{ canon.religiousorder }}</dd>
		    {% endif %}
		    {% if canon.academictitle %}
			<dt class="col-sm-3">Akademischer Titel</dt>
			<dd class="col-sm-9">{{ canon.academictitle }}</dd>
		    {% endif %}
		</dl>
	    {% endif %}
	    {# <p>{{ dump(person) }}</p> #}
	    {% if person.iddh %}
		<div class="row mx-2 mb-2 mt-3">
		    <div class="col-12">
			<div class="card">
			    <span class="card-header"><strong>Amtsangaben aus Referenzwerken</strong></span>
			    <dl class="card-body row mb-0 pb-0">
				{# offices and references#}
				{{ _self.sectionoffices(person.canondh.offices, urlgsmonasteries) }}
				{% if references is defined and references|length > 0 %}
				    {{ _self.sectionreferencesdh(references) }}
				{% endif %}
			    </dl>
			</div>
		    </div>
		</div>
	    {% endif %}
	    {# Germania Sacra #}
	    {% if person.idgs %}
		<div class="row mx-2 mb-2 mt-3">
		    <div class="col-12">
			<div class="card">
			    <span class="card-header"><a href="{{ urlgspersons }}index/gsn/{{ canon.gsnid }}" target="_blank" rel="noopener"><strong>Amtsangaben aus dem Digitalen Personenregister der Germania Sacra — {{ canon.gsnid }}</strong></a></span>
			    <dl class="card-body row mb-0 pb-0">
				{{ _self.sectionoffices(person.officesgs, urlgsmonasteries) }}
				{% if person.referencesgs|length > 0 %}
				    {{ _self.sectionreferences(person.referencesgs, true, url_gs_bios) }}
				{% endif %}
			    </dl>
			</div>
		    </div>
		</div>
	    {% endif %}
	    {# WIAG bishop database #}
	    {% if person.bishop %}
		<div class="row mx-2 mb-2 mt-3">
		    <div class="col-12">
			<div class="card">
			    <span class="card-header"><a href="{{ protocol }}:{{ url('id', {'id': person.wiagid}, schemeRelative=true) }}" target="_blank" rel="noopener"><strong>Amtsangaben aus der Datenbank Bischöfe des Alten Reiches (WIAG) — {{ person.wiagid }}</strong></span></a>
			    <dl class="card-body row">
				{% set bishop = person.bishop %}
				{{ _self.sectionoffices(bishop.offices, urlgsmonasteries) }}
			{% if bishop.reference %}
			    <dt class="col-sm-3">Referenzwerk</dt>
			    <dd class="col-sm-9 small"><a href="{{ path('reference', {'id': bishop.referenceid}) }}">{{ bishop.reference.shorttitle }}</a>, S. {{ bishop.pagesgatz }}</dd>
			{% endif %}
			    </dl>
			</div>
		    </div>
		</div>
	    {% endif %}
	    {# external identifiers and other identifiers (canondh holds a copy of bishop data if available#}
	    {% if canon.hasExternalIdentifier or canon.hasOtherIdentifier %}
		<div class="row mx-2 mb-2 mt-3">
		    <div class="col-12">
			{{ include('canon/_external_identifiers.html.twig') }}
		    </div>
		</div>
	    {% endif %}
	    <div class="row mx-2">
		<div class="col-12">
		    Empfohlene Zitierweise:
		    <button type="button"
			    class="btn btn-sm"
			    title="Kopiere die Zitierweise"
			    {{ stimulus_controller('clipboard') }}
			    data-action="clipboard#copyCitation"><img src="{{ asset('images/clipboard.svg') }}"></button><br/>
		    <span id="citation">{{ citation }}</span>
		</div>
	    </div>
	    <div class="row mx-2 col-12 mt-4 mb-2">
		<div class="d-flex">
		    {% if query_form is defined %}
			<button type="submit" form="q_form" class="btn btn-outline-secondary btn-sm" name="singleoffset" value="{{ offset - 1 }}" {% if offset == 0 %}disabled="disabled"{% endif %}>vorheriger Treffer</button>
			<button type="submit" form="q_form" class="btn btn-outline-secondary btn-sm ms-1" name="singleoffset" value="{{ offset + 1 }}" {% if not hassuccessor %}disabled="disabled"{% endif %}>nächster Treffer</button>
			<button type="submit" form="q_form" class="btn btn-outline-secondary btn-sm ms-1" name="offset" value="{{ offset }}">Ergebnisliste</button>
			<a href="{{ path('query_canons') }}"><button class="btn btn-outline-secondary btn-sm ms-1 me-3">Neue Suche</button></a>
		    {% else %}
			<a href="{{ path('query_canons') }}"><button class="btn btn-outline-secondary btn-sm me-2" type="button">Suche</button></a>
		    {% endif %}
		    <a href="{{ path('wiag_id_data', {id: person.wiagid, format: 'json'}) }}"><button class="btn btn-secondary btn-light btn-sm">JSON</button></a>
		    <a href="{{ path('wiag_id_data', {id: person.wiagid, format: 'csv'}) }}"><button class="btn btn-secondary btn-light btn-sm ms-1">CSV</button></a>
		    <a href="{{ path('wiag_id_data', {id: person.wiagid}) }}"><button class="btn btn-secondary btn-light btn-sm ms-1">RDF-XML</button></a>
		    <a href="{{ path('wiag_id_data', {id: person.wiagid, format: 'json-ld'}) }}"><button class="btn btn-secondary btn-light btn-sm ms-1">JSON-LD</button></a>
		</div>
	    </div>
	</div>
    {% endif %}
{% endblock %}
