{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {# this is required for canon.js, even if it is not necessary for this page #}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>    
    <script src="{{ asset('js/canon.js') }}"></script>
{% endblock %}

{% set urlgspersons = 'http://personendatenbank.germania-sacra.de/' %}
{% set urlgsmonasteries = 'http://klosterdatenbank.germania-sacra.de/' %}
{% set urlgnd = 'http://d-nb.info/gnd/' %}
{% set urlwikidata = 'https://www.wikidata.org/wiki/' %}
{% set urlviaf = 'https://viaf.org/viaf/' %}

{% block body %}
    {% set linksymbol %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 20 20" transform="translate(6, -1)">
    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/></svg>{% endset %}
    
    {% set clipboardsymbol %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
	<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
	<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
    </svg>{% endset %}

    {# person is passed as an object #}
    {% if not person%}
	<p class="em">Person nicht gefunden.</p>
    {% else %}
	{% if query_form is defined %}
	    {{ form_start(query_form, {'attr': {'id':'q_form', 'action':path('canons_schwerin'), 'hidden': 'hidden'} }) }}
		{{ include('canon/_form_elements.html.twig') }}
	    {{ form_end(query_form) }}
	{% endif %}
	<div class="container-fluid mt-3 mb-2">
	    <div class="row mx-2 col-12">
		{{ include('canon/_title.html.twig') }}
	    </div>
	    <div class="row mx-2 my-2">
		<div class="col-8"><h2>{{ person.displayname[:200] }}</h2></div>
		<div class="col-4 text-right text-nowrap">
		    <button type="button" class="btn to-clipboard" title="{{ url('id', {id: person.wiagidlong}) }}" >{{ person.wiagidlong }} {{ linksymbol }}</button>
		</div>
	    </div>
	    
	    {% if person.flagcomment %}
		<div class="row mx-2 col-12">
		    {% if person.givennamevariant is defined and person.givennamevariant != '' %}
			<span class="comment">{{ person.givennamevariant }}</span>
			{% if person.familynamevariant is defined and person.familynamevariant != '' %}
			    <span class="comment">; {{ person.familynamevariant }}</span>
			{% endif %}
			{% if person.commentname is defined and person.commentname != '' %}
			    <span class="comment">; {{ person.commentname }}</span>
			{% endif %}
			{% if person.commentperson is defined and person.commentperson != '' %}
			    <span class="comment">; {{ person.commentperson }}</span>
			{% endif %}
		    {% elseif person.familynamevariant is defined and person.familynamevariant != '' %}
			<span class="comment">{{ person.familynamevariant }}</span>
			{% if person.commentname is defined and person.commentname != '' %}
			    <span class="comment">; {{ person.commentname }}</span>
			{% endif %}
			{% if person.commentperson is defined and person.commentperson != '' %}
			    <span class="comment">; {{ person.commentperson }}</span>
			{% endif %}
		    {% elseif person.commentname is defined and person.commentname != '' %}
			<span class="comment">{{ person.commentname }}</span>
			{% if person.commentperson is defined and person.commentperson != '' %}
			    <span class="comment">; {{ person.commentperson }}</span>
			{% endif %}
		    {% elseif person.commentperson is defined and person.commentperson != '' %}
			<span class="comment">{{ person.commentperson }}</span>
		    {% endif %}
		</div>
	    {% endif %}

	    {% if not person.datebirth and not person.datedeath %}
	    {% else %}
		<div class="row mx-2 col-12 mt-2">
		    {% if person.datebirth and not person.datedeath %}
			<span class="wiag-large">* {{ person.datebirth }}</span>
		    {% elseif not person.datebirth and person.datedeath %}
			<span class="wiag-large">&dagger; {{ person.datedeath }}</span>
		    {% else %}
			<span class="wiag-large">* {{ person.datebirth }} <span class="pl-3">&dagger; {{ person.datedeath }}</span></span>
		    {% endif %}
		</div>
	    {% endif %}
	    <dl class="row mx-2 mt-3">
		{% if person.religiousorder %}
		    <dt class="col-sm-3">Orden</dt>
		    <dd class="col-sm-9">{{ person.religiousorder }}</dd>
		{% endif %}
		{% if person.academictitle %}
		    <dt class="col-sm-3">Akademischer Titel</dt>
		    <dd class="col-sm-9">{{ person.academictitle }}</dd>
		{% endif %}

		{% if person.offices %}
		    <dt class="col-sm-3">Ämter</dt>
		    <dd class="col-sm-9">
			<ul class="list-unstyled">
			    {% for office in person.offices|sort((a, b) => a.numdate.datestart <=> b.numdate.datestart) %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item"> {{ office.officename }}</li>
					{% if office.diocese %}
					    <li class="list-inline-item">{% if dioceserepository.countByDiocese(office.diocese) > 0 %}<a href="{{ path('diocese', {'idorname': office.diocese}) }}">{{ office.diocese }}</a>{% else %}{{ office.diocese }}{% endif %}</li>
					{% endif %}
					{% if office.idmonastery %}
					    <li class="list-inline-item">
						<a href="{{ urlgsmonasteries }}gsn/{{ office.idmonastery }}">{{ office.monastery.monasteryname }}</a>
					    </li>
					{% endif %}
					<li class="list-inline-item">
					    {% if not office.datestart and not office.dateend %}
					    {% elseif office.datestart and not office.dateend %}
						{{ office.datestart }}
					    {% elseif not office.datestart and office.dateend %}
						bis {{ office.dateend }}
					    {% else %}
						{{ office.datestart }}–{{ office.dateend }}
					    {% endif %}
					</li>
					{% if office.comment %}
					    <li class="list-inline-item comment"> ({{ office.comment }}) </li>
					{% endif %}

				    </ul>
				</li>
			    {% endfor %}
			</ul>
		    </dd>
		{% endif %}
		{% if person.hasExternalIdentifier %}
		    <dt class="col-sm-3">Externe Identifier</dt>
		    <dd class="col-sm-9">
			<ul class ="list-unstyled">
			    {% if person.gndid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">GND</li>
					<li class="list-inline-item"><a href="{{ urlgnd }}{{ person.gndid }}" target="_blank" rel="noopener">{{ person.gndid }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			    {% if person.viafid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">VIAF</li>
					<li class="list-inline-item"><a href="{{ urlviaf }}{{ person.viafid }}" target="_blank" rel="noopener">{{ person.viafid }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			    {% if person.wikidataid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">Wikidata</li>
					<li class="list-inline-item"><a href="{{ urlwikidata }}{{ person.wikidataid }}" target="_blank" rel="noopener">{{ person.wikidataid }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			</ul>
		    </dd>
		{% endif %}
		{% if person.hasOtherIdentifier %}
		    <dt class="col-sm-3">Siehe auch</dt>
		    <dd class="col-sm-9">
			<ul class ="list-unstyled">
			    {% if person.gsnid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">Germania Sacra</li>
					<li class="list-inline-item">
					    <a href="{{ urlgspersons }}index/gsn/{{ person.gsnid }}" target="_blank" rel="noopener">{{ person.gsnid }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			    {% if person.wikipediatitle %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">Wikipedia</li>
					<li class="list-inline-item"><a href="{{ person.wikipediaurl }}" target="_blank" rel="noopener">{{ person.wikipediatitle }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			</ul>
		    </dd>
		{% endif %}
		{% if person.references %}
		    <dt class="col-sm-3">Referenzwerk(e)</dt>
		    <dd class="col-sm-9">
			<ul class="list-unstyled">
			    {% for cnref in person.references %}
				<li><a href="{{ path('canon_reference', {'id': cnref.reference.id }) }}">{{ cnref.reference.shorttitle }}</a>, S. {{ cnref.pagereference }}</li>
			    {% endfor %}
			</ul>
		    </dd>
		{% endif %}
	    </dl>
	    <div class="row mx-2 col-12"><span class="align-baseline"> Empfohlene Zitierweise: <button type="button" class="btn btn-sm" id="copy-citation">{{ clipboardsymbol }}</button> </span></div>
	    <div class="row mx-2 col-12">
		{# (WIAGID: {{ person.wiagidlong }}), #}
		{# app.request.schemeAndHttpHost ~ app.request.baseUrl  #}
		<span id="citation">"{{ person.displayname }}" in: WIAG, {{ url('id', {id: person.wiagidlong}) }} (Abgerufen: {{ "now"|date('d.m.Y') }}).</span></div>

	    <div class="row mx-2 col-12 mt-4">
		{% if query_form is defined %}
		    <button type="submit" form="q_form" class="btn btn-secondary btn-sm" name="singleoffset" value="{{ offset - 1 }}" {% if offset == 0 %}disabled="disabled"{% endif %}>vorheriger Treffer</button>
		    <button type="submit" form="q_form" class="btn btn-secondary btn-sm ml-1" name="singleoffset" value="{{ offset + 1 }}" {% if not hassuccessor %}disabled="disabled"{% endif %}>nächster Treffer</button></a>
		    <button type="submit" form="q_form" class="btn btn-secondary btn-sm ml-1" name="offset" value="{{ offset }}">Ergebnisliste</button></a>
		    <a href="{{ path('canons_schwerin') }}"><button class="btn btn-secondary btn-sm ml-1 mr-3">Neue Suche</button></a>
		{% endif %}
		<a href="{{ path('wiag_id_data', {id: person.wiagidlong, format: 'json'}) }}"><button class="btn btn-secondary btn-light btn-sm">JSON</button></a>
		<a href="{{ path('wiag_id_data', {id: person.wiagidlong, format: 'csv'}) }}"><button class="btn btn-secondary btn-light btn-sm ml-1">CSV</button></a>
		<a href="{{ path('wiag_id_data', {id: person.wiagidlong}) }}"><button class="btn btn-secondary btn-light btn-sm ml-1">RDF-XML</button></a>
		<a href="{{ path('wiag_id_data', {id: person.wiagidlong, format: 'json-ld'}) }}"><button class="btn btn-secondary btn-light btn-sm ml-1">JSON-LD</button></a>
	    </div>
	</div>

    {% endif %}
{% endblock %}
