{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {# this is required for canon.js, even if it is not necessary for this page #}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/canon.js') }}"></script>
{% endblock %}

{% set urlgspersons = 'http://personendatenbank.germania-sacra.de/' %}
{% set urlgsmonasteries = 'http://klosterdatenbank.germania-sacra.de/' %}
{% set urlgnd = 'http://d-nb.info/gnd/' %}
{% set urlwikidata = 'https://www.wikidata.org/wiki/' %}
{% set urlviaf = 'https://viaf.org/viaf/' %}

{% macro sectionoffices(offices, urlgsmonasteries, dioceserepository) %}
    <dt class="col-sm-3">Ämter</dt>
    <dd class="col-sm-9">
	<ul class="list-unstyled">
	    {% for office in offices %}
		<li>
		    <ul class="list-inlined list-unstyled">
			<li class="list-inline-item"> {{ office.officename }}</li>
			{% if office.diocese and not office.idmonastery %}
			    <li class="list-inline-item">{% if dioceserepository.countByDiocese(office.diocese) > 0 %}<a href="{{ path('diocese', {'idorname': office.diocese}) }}">{{ office.diocese }}</a>{% else %}{{ office.diocese }}{% endif %}</li>
			{% endif %}
			{% if office.idmonastery %}
			    <li class="list-inline-item">
				<a href="{{ urlgsmonasteries }}gsn/{{ office.idmonastery }}" target="_blank" rel="noopener">{{ office.monastery.monasteryname }}</a>
			    </li>
			{% endif %}
			<li class="list-inline-item">
			    {% if not office.datestart and not office.dateend %}
			    {% elseif office.datestart and not office.dateend %}
				{{ office.datestart }}
			    {% elseif not office.datestart and office.dateend %}
				bis {{ office.dateend }}
			    {% else %}
				{{ office.datestart }}–{{ office.dateend }}
			    {% endif %}
			</li>
			{% if office.dignity %}
			    <li class="list-inline-item comment"> {{ office.dignity }} </li>
			{% endif %}
			{% if office.comment %}
			    <li class="list-inline-item comment"> ({{ office.comment }}) </li>
			{% endif %}

		    </ul>
		</li>
	    {% endfor %}
	</ul>
    </dd>
{% endmacro %}

{% macro sectionreferences(references, url_gs_bios) %}
    <dt class="col-sm-3">{{ references|length > 1 ? 'Referenzwerke' : 'Referenzwerk' }}</dt>
    <dd class="col-sm-9">
	{# <ul class="list-unstyled">  #}
	<ul class="{% if references|length == 1 %}list-unstyled{% else %}pl-3{% endif %} small">
	    {% for cnref in references %}
		{% set refid = cnref.idinreference %}
		{% set refuri %}{% if cnref.reference.onlineresource %}{{ cnref.reference.onlineresource }}{% else %}{{ path('canon_reference', {'id': cnref.reference.id }) }}{% endif %}{% endset %}
		{% set refdisplaytitle %}{% if cnref.reference.fulltitle %}{{ cnref.reference.fulltitle }}{% else %}{{ cnref.reference.author }}, {{ cnref.reference.title }}{% endif %}{% endset %}
		{% if cnref.isbio %}
		    <li><a href="{{ refuri }}">{{ refdisplaytitle }}</a>, S. {{ cnref.pagebio }}, <a class="btn btn-danger btn-sm" role="button" href="{{ url_gs_bios }}{{ cnref.reference.numbervol }}/{{ cnref.pagebio }}" target="_blank" rel="noopener">Biogramm in Printpublikation vorhanden</a></li>
		{% else %}
		    <li><a href="{{ refuri }}">{{ refdisplaytitle }}</a>, {% if refid %} S. {{ cnref.pagereference }}, ID/Nr. {{ refid }} {% else %} S. {{ cnref.pagereference }} {% endif %}</li>
		{% endif %}
	    {% endfor %}
	</ul>
    </dd>
{% endmacro %}

{% block body %}
    {# person is passed as an object #}
    {% if not person%}
	<p class="em">Person nicht gefunden.</p>
    {% else %}
	{% if query_form is defined %}
	    {{ form_start(query_form, {'attr': {'id':'q_form', 'action':path('canons_wd'), 'hidden': 'hidden'} }) }}
		{{ include('canon/_form_elements.html.twig') }}
	    {{ form_end(query_form) }}
	{% endif %}
	<div class="container-fluid mt-3 mb-2">
	    <div class="row mx-2 col-12">
		{{ include('canon/_title.html.twig') }}
	    </div>
	    <div class="row mx-2 my-2">
		{% if person.iddh %}{% set canon=person.canondh %}{% else %}{% set canon=person.canongs %}{% endif %}
		<div class="col-8"><h2>{{ canon.displayname[:200] }}</h2></div>
		<div class="col-4 text-right text-nowrap">
		    <button type="button" class="btn to-clipboard" title="{{ protocol }}:{{ url('id', {id: canon.wiagidlong}, schemeRelative=true) }}" >{{ canon.wiagidlong }} <img src="{{ asset('images/link45deg.svg') }}" width="18"></button>
		</div>
	    </div>

	    {% if canon.flagcomment %}
		<div class="row mx-2 col-12">
		    {% if canon.givennamevariant is defined and canon.givennamevariant != '' %}
			<span class="comment">{{ canon.givennamevariant }}</span>
			{% if canon.familynamevariant is defined and canon.familynamevariant != '' %}
			    <span class="comment">; {{ canon.familynamevariant }}</span>
			{% endif %}
			{% if canon.commentname is defined and canon.commentname != '' %}
			    <span class="comment">; {{ canon.commentname }}</span>
			{% endif %}
			{% if canon.commentperson is defined and canon.commentperson != '' %}
			    <span class="comment">; {{ canon.commentperson }}</span>
			{% endif %}
		    {% elseif canon.familynamevariant is defined and canon.familynamevariant != '' %}
			<span class="comment">{{ canon.familynamevariant }}</span>
			{% if canon.commentname is defined and canon.commentname != '' %}
			    <span class="comment">; {{ canon.commentname }}</span>
			{% endif %}
			{% if canon.commentperson is defined and canon.commentperson != '' %}
			    <span class="comment">; {{ canon.commentperson }}</span>
			{% endif %}
		    {% elseif canon.commentname is defined and canon.commentname != '' %}
			<span class="comment">{{ canon.commentname }}</span>
			{% if canon.commentperson is defined and canon.commentperson != '' %}
			    <span class="comment">; {{ canon.commentperson }}</span>
			{% endif %}
		    {% elseif canon.commentperson is defined and canon.commentperson != '' %}
			<span class="comment">{{ canon.commentperson }}</span>
		    {% endif %}
		</div>
	    {% endif %}

	    {% if not canon.datebirth and not canon.datedeath %}
	    {% else %}
		<div class="row mx-2 col-12 mt-2">
		    {% if canon.datebirth and not canon.datedeath %}
			<span class="wiag-large">* {{ canon.datebirth }}</span>
		    {% elseif not canon.datebirth and canon.datedeath %}
			<span class="wiag-large">&dagger; {{ canon.datedeath }}</span>
		    {% else %}
			<span class="wiag-large">* {{ canon.datebirth }} <span class="pl-3">&dagger; {{ canon.datedeath }}</span></span>
		    {% endif %}
		</div>
	    {% endif %}
	    <dl class="row mx-2 mt-3">
		{% if canon.religiousorder %}
		    <dt class="col-sm-3">Orden</dt>
		    <dd class="col-sm-9">{{ canon.religiousorder }}</dd>
		{% endif %}
		{% if canon.academictitle %}
		    <dt class="col-sm-3">Akademischer Titel</dt>
		    <dd class="col-sm-9">{{ canon.academictitle }}</dd>
		{% endif %}
	    </dl>
	    {% if person.iddh %}
		<div class="card mx-2 mb-2">
		    <span class="card-header"><strong>Datenbank "Domherren des Alten Reiches"</strong></span>
		    <dl class="card-body row mb-0 pb-0">
			{# offices and references#}
			{{ _self.sectionoffices(person.officesdh, urlgsmonasteries, dioceserepository) }}
			{{ _self.sectionreferences(person.referencesdh, url_gs_bios) }}
		    </dl>
		</div>
	    {% endif %}
	    {% if person.idgs %}
		<div class="card mx-2 mb-2">
		    <span class="card-header"><a href="{{ urlgspersons }}index/gsn/{{ canon.gsnid }}" target="_blank" rel="noopener"><strong>Digitales Personenregister der Germania Sacra</strong></a></span>
		    <dl class="card-body row mb-0 pb-0">
			{{ _self.sectionoffices(person.officesgs, urlgsmonasteries, dioceserepository) }}
			{{ _self.sectionreferences(person.referencesgs, url_gs_bios) }}
		    </dl>
		</div>
	    {% endif %}
	    {% if person.bishop %}
		<div class="card mx-2 mb-2">
		    <span class="card-header"><a href="{{ protocol }}:{{ url('id', {'id': canon.wiagepiscidlong}, schemeRelative=true) }}" target="_blank" rel="noopener"><strong>Datenbank "Bischöfe des Alten Reiches"</strong></span></a>
		    <dl class="card-body row">
			{% set bishop = person.bishop %}
			{{ _self.sectionoffices(bishop.offices, urlgsmonasteries, dioceserepository) }}
			{% if bishop.reference %}
			    <dt class="col-sm-3">Referenzwerk</dt>
			    <dd class="col-sm-9"><a href="{{ path('reference', {'id': bishop.referenceid}) }}">{{ bishop.reference.shorttitle }}</a>, S. {{ bishop.pagesgatz }}</dd>
			{% endif %}
		    </dl>
		</div>
	    {% endif %}
	    {# external identifiers and other identifiers (canondh holds a copy of bishop data if available#}
	    {% if person.iddh %}{% set canon = person.canondh %}
	    {% else %}{% set canon = person.canongs %}
	    {% endif %}
	    {% if canon.hasExternalIdentifier %}
		<dl class="row mx-2 mt-1">
		    <dt class="col-sm-3">Externe Identifier</dt>
		    <dd class="col-sm-9">
			<ul class ="list-unstyled">
			    {% if canon.gndid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">GND</li>
					<li class="list-inline-item"><a href="{{ urlgnd }}{{ canon.gndid }}" target="_blank" rel="noopener">{{ canon.gndid }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			    {% if canon.viafid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">VIAF</li>
					<li class="list-inline-item"><a href="{{ urlviaf }}{{ canon.viafid }}" target="_blank" rel="noopener">{{ canon.viafid }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			    {% if canon.wikidataid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">Wikidata</li>
					<li class="list-inline-item"><a href="{{ urlwikidata }}{{ canon.wikidataid }}" target="_blank" rel="noopener">{{ canon.wikidataid }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			</ul>
		    </dd>
		</dl>
	    {% endif %}
	    {% if canon.hasOtherIdentifier %}
		<dl class="row mx-2 mt-1">
		    <dt class="col-sm-3">Siehe auch</dt>
		    <dd class="col-sm-9">
			<ul class ="list-unstyled">
			    {% if canon.gsnid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">Germania Sacra</li>
					<li class="list-inline-item">
					    <a href="{{ urlgspersons }}index/gsn/{{ canon.gsnid }}" target="_blank" rel="noopener">{{ canon.gsnid }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			    {% if canon.wikipediatitle %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">Wikipedia</li>
					<li class="list-inline-item"><a href="{{ canon.wikipediaurl }}" target="_blank" rel="noopener">{{ canon.wikipediatitle }}</a></li>
				    </ul>
				</li>
			    {% endif %}
			    {% if canon.wiagepiscid %}
				<li>
				    <ul class="list-inlined list-unstyled">
					<li class="list-inline-item">WIAG</li>
					<li class="list-inline-item"><a href="{{ protocol }}:{{ url('id', {'id': canon.wiagepiscidlong}, schemeRelative=true) }}" target="_blank" rel="noopener">{{ canon.wiagepiscidlong }}</a></li>
				    </ul>
				</li>
			    {% endif %}

			</ul>
		    </dd>
		</dl>
	    {% endif %}
	    <div class="row mx-2 col-12"><span class="align-baseline"> Empfohlene Zitierweise: <button type="button" class="btn btn-sm" id="copy-citation"> <img src="{{ asset('images/clipboard.svg') }}"></button> </span></div>
	    <div class="row mx-2 col-12">
		{# (WIAGID: {{ person.wiagidlong }}), #}
		{# app.request.schemeAndHttpHost ~ app.request.baseUrl  #}
		<span id="citation">"{{ canon.displayname }}" in: WIAG, {{ protocol }}:{{ url('id', {id: canon.wiagidlong}, schemeRelative=true) }} (Abgerufen: {{ "now"|date('d.m.Y') }}).</span></div>
	    <div class="row mx-2 col-12 mt-4">
		{% if query_form is defined %}
		    <button type="submit" form="q_form" class="btn btn-secondary btn-sm" name="singleoffset" value="{{ offset - 1 }}" {% if offset == 0 %}disabled="disabled"{% endif %}>vorheriger Treffer</button>
		    <button type="submit" form="q_form" class="btn btn-secondary btn-sm ml-1" name="singleoffset" value="{{ offset + 1 }}" {% if not hassuccessor %}disabled="disabled"{% endif %}>nächster Treffer</button></a>
		    <button type="submit" form="q_form" class="btn btn-secondary btn-sm ml-1" name="offset" value="{{ offset }}">Ergebnisliste</button></a>
		    <a href="{{ path('canons_wd') }}"><button class="btn btn-secondary btn-sm ml-1 mr-3">Neue Suche</button></a>
		{% endif %}
		<a href="{{ path('wiag_id_data', {id: canon.wiagidlong, format: 'json'}) }}"><button class="btn btn-secondary btn-light btn-sm">JSON</button></a>
		<a href="{{ path('wiag_id_data', {id: canon.wiagidlong, format: 'csv'}) }}"><button class="btn btn-secondary btn-light btn-sm ml-1">CSV</button></a>
		<a href="{{ path('wiag_id_data', {id: canon.wiagidlong}) }}"><button class="btn btn-secondary btn-light btn-sm ml-1">RDF-XML</button></a>
		<a href="{{ path('wiag_id_data', {id: canon.wiagidlong, format: 'json-ld'}) }}"><button class="btn btn-secondary btn-light btn-sm ml-1">JSON-LD</button></a>
	    </div>
	</div>

    {% endif %}
{% endblock %}
