{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/canon.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-3">
	<div class="row ml-2 col-12">
	    {{ include('canon/_title.html.twig') }}
	</div>
	{{ form_start(query_form, {'attr': {'id':'q_form', 'action':path('canons_wd')}}) }}
	    {{ include('canon/_form_elements.html.twig') }}
	{{ form_end(query_form) }}
    </div>
{% endblock %}
