{# query_bishop/listresult.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/canon.js') }}"></script>
{% endblock %}

{% macro canonrow(person, offices, offset) %}
    <tr>
	<td><button type="submit" form="q_form" class="btn btn-link text-sm-left" name="singleoffset" value="{{ offset }}">{{ person.givenname }} {{ person.prefixname }} {{ person.familyname }}</button>
	    {% if not person.datebirth and not person.datedeath %}
	    {% elseif person.datebirth and not person.datedeath %}
		<p class="ml-3">* {{ person.datebirth }}</p>
	    {% elseif not person.datebirth and person.datedeath %}
		<p class="ml-3">&dagger; {{ person.datedeath }}</p>
	    {% else %}
		<p class="ml-3">* {{ person.datebirth }} <span class="ml-2">&dagger; {{ person.datedeath }}</span></p>
	    {% endif %}
	</td>
	<td>
	    {% for o in offices%}
		<small>{{ o.officename }}
		    {% if o.locationshow %}({{ o.locationshow }}){% endif %}
		    {% if o.datestart and not o.dateend %}{{ o.datestart }}
		    {% elseif not o.datestart and o.dateend %}{{ o.dateend }}
		    {% elseif o.datestart and o.dateend %}{{ o.datestart }}-{{ o.dateend }}{% endif %}
		</small><br/>
	    {% endfor %}
	</td>
    </tr>    
{% endmacro %}

{% block body %}
    {# add page forward and backward buttons #}
    {% set fb_elements %}
    {% if count > 0 %}
	<button type="submit" form="q_form" class="btn btn-secondary" {% if offset < limit %} disabled="disabled" {% endif %} name="offset" value="{{ offset - limit }}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg> zurück</button>
	<button type="submit" form="q_form" class="btn btn-secondary ml-1" {% if offset + limit >= count%}disabled="disabled"{% endif %} name="offset" value="{{ offset + limit }}">vor <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg></button>
    {% endif %}
    {% endset %}

    {{ form_start(query_form, {'attr': {'id':'q_form', 'action':path('canons_wd')} }) }}
	<div class="container-fluid mt-3">
	    <div class="row ml-2 col-12">
		{{ include('canon/_title.html.twig') }}
	    </div>
	    {{ include('canon/_form_elements.html.twig') }}
	    <div class="row ml-2 mt-3 col-12">
		Treffer:
		{% if count == 0 %}
		    keine
		{% elseif count == 1 %}
		    1
		{% else %}
		    {{ offset + 1 }} - {{ min(offset + limit, count)}} von {{ count }}
		{% endif %}
		<span class="ml-3">{{ fb_elements }}</span>
	    </div>
	</div>
	{% if count > 0 or query_form.facetMonasteries is defined or query_form.facetOffices is defined%}
	    <div class="container-fluid">
	    <div class="row mt-2 mx-2 mb-2">
		<div class="col-9">
		    <div class="table-responsive">
			<table class="table">
			    <thead class="thead-light">
				<tr>
				    <th scope="col">Name</th>
				    <th scope="col">Ämter</th>
				</tr>
			    </thead>
			    <tbody>
				{% for person in persons %}
				    {% if person.iddh %}
					{{ _self.canonrow(person.canondh, person.officesdh, offset + loop.index0) }}
				    {% elseif person.idgs %}
					{{ _self.canonrow(person.canongs, person.officesgs, offset + loop.index0) }}
				    {% endif %}
				{% endfor %}
				<tr>
				    <td>{{ fb_elements }}</td>
				    <td></td>
				</tr>
			    </tbody>
			</table>
		    </div> {# table-responsive #}
		</div>
		{# facets #}
		<div class="col-3">
		    {% if query_form.facetLocations is defined %}
			{# set lenfctl=query_form.facetLocations|length #}			
			<div class="card card-body">
			    <strong class="card-title">Filter Ort</strong>
			    {% for flc in query_form.facetLocations %}
			     {# <div class="form-group small"> #}
				<div class="form-group">
				    {{ form_widget(flc) }}
				</div>
			    {% endfor %}
			</div>
		    {% endif %}
		    {% if query_form.facetMonasteries is defined %}
			<div class="card card-body">
			    <strong class="card-title">Filter Domstift</strong>
			    {% for fpl in query_form.facetMonasteries%}
				{# <div class="form-group small"> #}
				<div class="form-group">
				    {{ form_widget(fpl) }}
				</div>
			    {% endfor %}
			</div>
		    {% endif %}
		    {% if query_form.facetOffices is defined %}
			<div class="card card-body">
			    <strong class="card-title">Filter Amt</strong>
			    {% for foc in query_form.facetOffices%}
				<div class="form-group">
				    {{ form_widget(foc) }}
				</div>
			    {% endfor %}
			</div>
		    {% endif %}
		</div>
	    </div>
	</div>
	{% endif %}
    {{ form_end(query_form) }}

{% endblock %}
