{# query_bishop/listresult.html.twig #}
{% extends 'base.html.twig' %}

{% import "canon/macro.html.twig" as macro  %}

{% block body %}
    {# add page forward and backward buttons #}
    {% set fb_elements %}
    {% if count > 0 %}
	<button type="submit" form="q_form" class="btn btn-secondary" {% if offset < limit %} disabled="disabled" {% endif %} name="offset" value="{{ offset - limit }}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg> zurück</button>
	<button type="submit" form="q_form" class="btn btn-secondary ml-1" {% if offset + limit >= count%}disabled="disabled"{% endif %} name="offset" value="{{ offset + limit }}">vor <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg></button>
    {% endif %}
    {% endset %}

    <div class="container-fluid mt-3">
	<div class="row ml-2 col-12">
	    {{ include('canon/_title.html.twig') }}
	</div>

	<div class="row ml-2 mt-3 col-12">
	    Treffer:
	    {% if count == 0 %}
		keine
	    {% elseif count == 1 %}
		1
	    {% else %}
		{{ offset + 1 }} - {{ min(offset + limit, count)}} von {{ count }}
	    {% endif %}
	    {# <span class="ml-3">{{ fb_elements }}</span> #}
	    <span> Vor-/Zurück-Buttons </span>
	    </div>
	</div>
	<div class="container-fluid">
	    <div class="row mt-2 mx-2 mb-2">
		{% if count > 0 %}
		    <div class="col-9">
			<div class="table-responsive">
			    <table class="table">
				<thead class="thead-light">
				    <tr>
					<th scope="col">Name</th>
					<th scope="col">Ämter</th>
				    </tr>
				</thead>
				<tbody>
				    {% for person in persons %}
					{% if person.iddh %}
					    {{ macro.canonrow(person.canondh, true, person.idgs, person.idep, person.officesdh, offset + loop.index0) }}
					{% elseif person.idgs %}
					    {{ macro.canonrow(person.canongs, false, true, person.idep, person.officesgs, offset + loop.index0) }}
					{% endif %}
				    {% endfor %}
				    <tr>
					<td>{{ fb_elements }}</td>
					<td></td>
				    </tr>
				</tbody>
			    </table>
			</div> {# table-responsive #}
		    </div>
		{% endif %}
	</div>

{% endblock %}
